<script setup lang="ts">
import { Ref, computed, inject } from 'vue'
import { Activity, ActivityId } from '../enums/activities'
import { LightfallDungeonHashes } from '../enums/dungeons'
import { Expansions } from '../enums/expansions'
import { FinalShapeEpisodeHashes, LightfallSeasonHashes, WitchQueenSeasonHashes } from '../enums/seasons'
import { activityDetail } from '../releaseDetail'
import AccountCard from './AccountCard.vue'
import ActivityIndicator from './ActivityIndicator.vue'
import { RouteLocationRaw, useRoute } from 'vue-router'
import { type Account, type Supporter, TheFooter } from '@wastedondestiny/destiny-library'

const route = useRoute()
const demoAccount: Account = {
  characters: [],
  displayName: 'Example#1234',
  dungeonsOwned: [LightfallDungeonHashes.GhostsOfTheDeep, LightfallDungeonHashes.WarlordsRuin],
  fireteam: [],
  membershipId: 'test1',
  membershipType: 5,
  crossSaveOverride: 3,
  seasonsOwned: [WitchQueenSeasonHashes.Seraph, LightfallSeasonHashes.Defiance, FinalShapeEpisodeHashes.Echoes, FinalShapeEpisodeHashes.Revenant, FinalShapeEpisodeHashes.Heresy],
  versionsOwned: Expansions.Forsaken | Expansions.Shadowkeep | Expansions.FinalShape,
  private: false
}
const dummyAccount: Account = {
  characters: [],
  displayName: 'Example#1234',
  dungeonsOwned: [],
  fireteam: [],
  membershipId: 'test2',
  membershipType: 1,
  crossSaveOverride: 3,
  seasonsOwned: [LightfallSeasonHashes.Defiance],
  versionsOwned: Expansions.Forsaken,
  private: false
}
const testActivities = JSON.parse(JSON.stringify([
  activityDetail.find(x => x.id === ActivityId.VaultOfGlass)!,
  activityDetail.find(x => x.id === ActivityId.LastWish)!,
  activityDetail.find(x => x.id === ActivityId.NightmareHunt)!,
  activityDetail.find(x => x.id === ActivityId.VowOfTheDisciple)!
])) as Activity[]
testActivities.forEach(x => x.maxPlayers = 0)
const supporters = inject<Ref<Supporter[]>>('supporters')
const supporterLinks = computed(() => supporters?.value?.reduce((all, supporter) => {
  if (supporter.linkedMembershipIds) {
    all[supporter.name] = {
      name: 'Home',
      params: {
        memberships: (route.params.memberships as string[] || []).filter(x => !supporter.linkedMembershipIds?.includes(x)).concat(supporter.linkedMembershipIds)
      }
    }
  }

  return all
}, {} as Record<string, RouteLocationRaw>))
</script>

<template>
  <div class="w-full md:w-5/6 lg:w-4/5 px-2 py-4 text-zinc-200 mx-auto">
    <!-- <RouterLink to="/" class="flex items-center text-lg"><img src="../assets/caret.svg" class="h-6 w-6 invert rotate-90" />Go back</RouterLink> -->
    <h1 id="about" class="text-center text-4xl my-2 border-zinc-200 border-b pb-2">About crimson.report</h1>
    <div class="flex flex-col sm:flex-row gap-8">
      <div class="text-zinc-200">
        <p class="indent-4 text-justify">
          crimson.report is a website that aims to sort out unavailable activities between members of a group before having to go through them all.
          Too many times does one person in the group forget what they actually bought in Destiny 2 and wants to join an activity they can't play.
          With crimson.report, you can just enter their name and see what expansion, season or dungeon key they own so you can get started quicker.
        </p>
        <h2 class="text-2xl my-2 font-semibold">How to use</h2>
        <p class="indent-4 text-justify">
          Type your or a friend's Bungie name (with or without the #1234 numbers) into the search bar above to add them to the list and compare
          expansions, seasons and dungeon keys. If you want to remove a player from the list, just click the close button 
          <img src="../assets/close.svg" class="inline align-middle pb-1 h-5 w-4 invert" /> at the top right of their card. You can also add
          a user's current fireteam to the list by clicking the Add Fireteam button, if it's available.
        </p>
        <p class="mt-2 indent-4 text-justify">
          Expansions, dungeon keys and seasons allow different types of access. Furthermore, the platform on which you are playing determines which
          expansions you have. For example, if you bought the Shadowkeep expansion on Playstation, but are now playing on Steam, you will have to buy
          it again on Steam to be able to play Shadowkeep activities. Moreover, with expansions that give abilities like Beyond Light and Lightfall,
          you will need to play on the platform where you bought the expansion to play it's related abilities.
        </p>
        <p class="mt-2 indent-4 text-justify">
          Not all content is bought as a DLC. Some content, like expansions and dungeon keys, work like microtransactions and must be bought with
          in-game currency. Whether the content allows for different types of access depends on this. A rule of thumb is the following: if you have
          bought it with real money, it is linked to the platform; whereas if you bought it with Silver, it is linked to the account.
        </p>
        <p class="mt-2 indent-4 text-justify">
          crimson.report uses the following indicators to show access to content:
        </p>
        <div class="flex flex-wrap gap-2 mt-2 mx-auto w-[272px] xl:w-[552px]">
          <ActivityIndicator class="w-[272px] font-normal" :account="demoAccount" :accounts="[demoAccount, dummyAccount]" :activity="testActivities[0]" :rotations="{}" no-interact>
            This activity is free to play for all players
          </ActivityIndicator>
          <ActivityIndicator class="w-[272px] font-normal" :account="demoAccount" :accounts="[demoAccount, dummyAccount]" :activity="testActivities[1]" :rotations="{}" no-interact>
            Everyone has access to this activity
          </ActivityIndicator>
          <ActivityIndicator class="w-[272px] font-normal" :account="demoAccount" :accounts="[demoAccount, dummyAccount]" :activity="testActivities[2]" :rotations="{}" no-interact>
            Not enough people have access to this activity
          </ActivityIndicator>
          <ActivityIndicator class="w-[272px] font-normal" :account="demoAccount" :accounts="[demoAccount, dummyAccount]" :activity="testActivities[3]" :rotations="{}" no-interact>
            This player does not have access to this activity
          </ActivityIndicator>
        </div>
      </div>
      <div>
        <h2 class="text-2xl my-2 font-semibold">Demonstration</h2>
        <AccountCard
          class="mx-auto"
          :account="demoAccount"
          :accounts="[demoAccount, dummyAccount]"
          :rotations="{
            [ActivityId.Duality]: 'Active Weekly',
            [ActivityId.VoxObscura]: 'Active Weekly'
          }"
          :is-open="{ dungeons: true, exotic: true, season: false, strikes: false, other: false, raids: false, detailed: false }"
          :loading="false"
          is-demo
        />
      </div>
    </div>
    <div class="text-zinc-200 text-justify mb-10">
      <h2 class="text-2xl my-2 font-semibold">Disclaimer</h2>
      <p class="indent-4">
        crimson.report is not affiliated with <a href="https://www.bungie.net" target="_blank" class="opacity-75 hover:opacity-100">Bungie</a>. Destiny
        is a registered trademark of Bungie.
      </p>
      <h2 class="text-2xl my-2 font-semibold">Supporters</h2>
      <p class="indent-4">
        crimson.report could not survive without the support of Guardians like you. If you like seeing tools like crimson.report,
        <a href="https://wastedondestiny.com" target="_blank" class="opacity-75 hover:opacity-100">Time Wasted on Destiny</a> or 
        <a href="https://loot.report" target="_blank" class="opacity-75 hover:opacity-100">loot.report</a> exist, please
        consider <a href="http://www.patreon.com/wastedondestiny" target="_blank" class="opacity-75 hover:opacity-100">supporting me on Patreon</a>.
        Here are the top supporters:
      </p>
      <ul class="text-left list-disc ml-6">
        <li v-for="supporter in supporters">
          <RouterLink v-if="supporterLinks?.[supporter.name]" :to="supporterLinks[supporter.name]">{{ supporter.name }} ({{ supporter.tier }})</RouterLink>
          <span v-else>{{ supporter.name }} ({{ supporter.tier }})</span>
        </li>
      </ul>
      <h2 class="text-2xl my-2 font-semibold">Credits</h2>
      <p class="indent-4">
        crimson.report is made possible thanks to:
      </p>
      <ul class="text-left list-disc ml-6">
        <li><a href="https://www.bungie.com" target="_blank" class="opacity-75 hover:opacity-100">Bungie</a>, who is giving us the best game API out there</li>
        <li>All my friends and supporters for helping me crushing bugs and test the website</li>
      </ul>
    </div>
    <TheFooter about name="crimson.report">
      <a href="https://binar.ca" target="_blank">&copy; François (binarmorker) Allard {{ (new Date()).getFullYear() }}</a>
    </TheFooter>
  </div>
</template>
