<template>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
    y="0px" viewBox="0 0 873 169" style="enable-background:new 0 0 873 169;" xml:space="preserve">
    <g style="fill:#ff4545;" class="hidden md:block">
      <path d="M97.149,79.802c-2.034-1.012-9.924-4.853-11.978-5.756c-0.8-0.332-1.427-0.951-1.757-1.727l-0.008-0.02
        c-1.163-2.847-4.83-10.387-5.411-11.701c0-0.013,0-0.03,0-0.045c0-0.662,0.199-1.279,0.539-1.792l-0.008,0.013
        c0.853-1.467,6.277-13.193,6.891-14.512c0.189,0.262,7.533,15.058,7.742,15.418c0.262,0.886-0.284,1.603-0.602,2.389
        c-0.614,1.528-1.193,3.068-1.825,4.707c2.265-0.687,4.387-1.742,6.604-2.529c2.215,1.05,14.998,7.196,15.869,7.843
        c-5.298,2.688-10.734,4.993-16.06,7.719L97.149,79.802z" />
      <path d="M48.546,64.212l6.345,2.529c0.088-1.143-1.701-4.926-2.195-6.124c0.013-0.692,0.211-1.334,0.546-1.883l-0.01,0.015
        c1.163-2.197,7.022-14.225,7.186-14.48c1.281,2.67,6.967,14.907,7.357,15.605c0.088,0.161,0.138,0.355,0.138,0.559
        c0,0.274-0.093,0.529-0.249,0.73l0.003-0.003c-0.526,0.8-5.235,10.848-5.459,11.489c-0.206,0.589-0.602,0.841-1.135,1.097
        c-3.342,1.606-11.64,5.494-12.398,5.97c-1.143-0.539-2.293-1.072-3.436-1.618c-2.243-1.075-12.275-5.965-12.557-6.186
        L48.546,64.212z" />
      <path d="M84.033,95.419c0.667-0.284,1.123-0.458,1.558-0.669c1.883-0.924,3.725-1.935,5.645-2.764
        c1.971-0.853,3.838-1.898,5.92-2.824c1.148,0.564,15.756,7.621,16.025,7.817l-15.813,7.692l-6.325-2.451
        c-0.219,1.12,1.628,4.842,2.046,5.774c0.214,0.768-0.035,1.43-0.398,2.132c-1.86,3.597-7.095,14.323-7.226,14.495
        c-1.321-2.683-7.198-14.99-7.392-15.589c-0.03-0.126-0.048-0.272-0.048-0.42c0-0.32,0.081-0.619,0.219-0.883l-0.005,0.01
        c1.037-2.635,2.451-5.089,3.612-7.666c0.725-1.598,1.49-3.176,2.18-4.651L84.033,95.419z" />
      <path d="M48.757,89.121c1.762,0.896,3.456,1.764,5.157,2.618c1.961,0.982,3.979,1.86,5.965,2.781
        c1.581,0.73,2.58,1.762,3.126,3.279c0.546,1.518,1.326,2.826,2.019,4.228c0.924,1.875,1.696,3.831,2.61,5.716
        c0.121,0.221,0.191,0.483,0.191,0.763s-0.07,0.544-0.196,0.773l0.005-0.008c-0.858,2.132-6.66,14.754-7.274,15.469l-7.533-15.459
        c-0.456-1.1,1.613-5.288,2.086-6.461c0.013-0.093,0.023-0.199,0.023-0.307c0-0.108-0.008-0.214-0.023-0.32l0.003,0.013
        l-6.431,2.456l-15.813-7.707c2.643-1.581,5.376-2.698,8.049-3.954s5.273-2.542,8.039-3.881L48.757,89.121z" />
      <path d="M64.709,90.133l-11.484-5.514l11.386-5.587l4.634,1.898c-0.423-1.097-1.711-4.46-1.664-4.938l5.321-11.097
        c0.201,0.395,3.43,7.311,5.165,10.475c0.529,0.949,0.058,1.644-0.171,2.394c-0.398,1.299-0.793,2.346-1.236,3.368l0.081-0.204
        c0,0,3.018-1.266,4.072-1.644c0.154-0.081,0.335-0.126,0.526-0.126c0.211,0,0.408,0.055,0.579,0.156l-0.005-0.003
        c2.691,1.382,5.411,2.711,8.127,4.042c0.612,0.297,2.303,1.07,2.613,1.266l-11.484,5.502l-4.412-1.807
        c0.317,1.354,0.926,2.6,1.581,4.163c0.101,0.471-0.136,1.135-0.508,1.84c-1.352,2.529-4.238,9.217-4.898,9.889
        c-0.227-0.345-4.264-8.58-5.061-10.103c-0.189-0.345-0.302-0.755-0.302-1.19c0-0.244,0.035-0.481,0.101-0.705l-0.005,0.018
        l1.581-3.967L64.709,90.133z" />
      <rect x="22.904" y="34.319" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -38.4165 76.602)"
        style="fill:none;stroke:#FFFFFF;stroke-width:2.5;stroke-miterlimit:10;" width="100.709" height="100.709" />
    </g>
    <g style="fill:#FFFFFF;" class="-translate-x-[4.125rem] md:translate-x-0">
      <path d="M184.632,102.098c0.249,0.132,0.396,0.33,0.44,0.594c0.044,0.265-0.022,0.514-0.198,0.748
        c-0.132,0.176-0.301,0.275-0.506,0.297c-0.206,0.022-0.411-0.018-0.616-0.121c-0.484-0.293-1.005-0.523-1.562-0.692
        c-0.558-0.169-1.144-0.253-1.76-0.253c-0.865,0-1.657,0.146-2.376,0.439c-0.719,0.294-1.342,0.715-1.87,1.266
        c-0.528,0.55-0.939,1.198-1.232,1.946s-0.44,1.57-0.44,2.464c0,0.968,0.154,1.834,0.462,2.597c0.308,0.763,0.729,1.411,1.265,1.946
        c0.535,0.536,1.159,0.942,1.87,1.222c0.711,0.278,1.485,0.418,2.321,0.418c0.602,0,1.181-0.081,1.738-0.242
        c0.557-0.161,1.078-0.396,1.562-0.704c0.205-0.103,0.414-0.14,0.627-0.11c0.212,0.029,0.385,0.132,0.517,0.309
        c0.19,0.234,0.26,0.48,0.209,0.736c-0.052,0.257-0.195,0.451-0.429,0.583c-0.367,0.221-0.785,0.418-1.254,0.595
        c-0.47,0.176-0.957,0.315-1.463,0.418c-0.506,0.102-1.009,0.153-1.507,0.153c-1.056,0-2.053-0.184-2.992-0.55
        c-0.939-0.366-1.771-0.891-2.497-1.573c-0.726-0.682-1.294-1.51-1.705-2.485s-0.616-2.079-0.616-3.312
        c0-1.129,0.198-2.174,0.594-3.135c0.396-0.96,0.946-1.793,1.65-2.497s1.529-1.25,2.475-1.639s1.976-0.583,3.091-0.583
        c0.763,0,1.503,0.099,2.222,0.297C183.37,101.427,184.03,101.717,184.632,102.098z" />
      <path d="M192.926,104.936c0.968,0,1.734,0.209,2.299,0.627s0.968,0.976,1.21,1.672c0.242,0.697,0.363,1.471,0.363,2.321v6.027
        c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.477-0.088-0.638-0.264
        c-0.162-0.177-0.242-0.389-0.242-0.639v-6.027c0-0.543-0.081-1.041-0.242-1.496c-0.162-0.454-0.429-0.817-0.803-1.089
        s-0.884-0.407-1.529-0.407c-0.602,0-1.151,0.136-1.65,0.407c-0.499,0.271-0.895,0.635-1.188,1.089
        c-0.293,0.455-0.44,0.953-0.44,1.496v6.027c0,0.25-0.085,0.462-0.253,0.639c-0.168,0.176-0.377,0.264-0.627,0.264
        s-0.458-0.088-0.627-0.264c-0.168-0.177-0.253-0.389-0.253-0.639v-14.476c0-0.249,0.084-0.462,0.253-0.638s0.377-0.264,0.627-0.264
        c0.264,0,0.477,0.088,0.638,0.264c0.161,0.176,0.242,0.389,0.242,0.638v6.557l-0.44,0.483c0.073-0.381,0.234-0.766,0.484-1.155
        c0.249-0.388,0.564-0.736,0.946-1.045c0.381-0.308,0.807-0.553,1.276-0.736S192.412,104.936,192.926,104.936z" />
      <path d="M205.312,116.705c-1.188,0-2.222-0.249-3.102-0.748c-0.88-0.498-1.562-1.184-2.046-2.057
        c-0.484-0.872-0.726-1.881-0.726-3.025c0-1.275,0.253-2.364,0.759-3.267c0.506-0.901,1.166-1.591,1.98-2.067
        s1.675-0.716,2.585-0.716c0.674,0,1.327,0.125,1.958,0.374c0.63,0.25,1.188,0.616,1.672,1.101c0.484,0.483,0.873,1.056,1.166,1.716
        s0.447,1.407,0.462,2.244c0,0.234-0.088,0.429-0.264,0.583c-0.176,0.153-0.382,0.23-0.616,0.23h-8.69l-0.396-1.518h8.448
        l-0.352,0.308v-0.483c-0.044-0.602-0.239-1.118-0.583-1.552c-0.345-0.432-0.763-0.766-1.254-1.001
        c-0.492-0.234-1.009-0.352-1.551-0.352c-0.44,0-0.876,0.081-1.309,0.242s-0.821,0.41-1.166,0.748
        c-0.345,0.337-0.624,0.777-0.836,1.319c-0.213,0.543-0.319,1.195-0.319,1.958c0,0.851,0.172,1.599,0.517,2.244
        c0.344,0.646,0.825,1.155,1.441,1.529c0.616,0.374,1.334,0.561,2.156,0.561c0.513,0,0.96-0.065,1.342-0.198
        c0.381-0.132,0.708-0.297,0.979-0.494c0.271-0.198,0.502-0.399,0.693-0.605c0.19-0.132,0.381-0.198,0.572-0.198
        c0.206,0,0.381,0.074,0.528,0.221c0.146,0.146,0.22,0.322,0.22,0.527c0,0.25-0.117,0.477-0.352,0.683
        c-0.425,0.454-0.986,0.851-1.683,1.188C206.848,116.536,206.104,116.705,205.312,116.705z" />
      <path d="M217.698,104.825c0.762,0,1.444,0.081,2.046,0.242c0.601,0.162,1.078,0.382,1.43,0.66c0.352,0.279,0.528,0.594,0.528,0.946
        c0,0.205-0.066,0.396-0.198,0.571c-0.132,0.177-0.316,0.265-0.55,0.265c-0.19,0-0.349-0.04-0.473-0.121
        c-0.125-0.08-0.242-0.176-0.352-0.286c-0.11-0.11-0.261-0.216-0.451-0.319c-0.176-0.088-0.433-0.165-0.77-0.23
        c-0.337-0.066-0.675-0.1-1.012-0.1c-0.807,0-1.514,0.191-2.123,0.572c-0.609,0.382-1.089,0.895-1.441,1.54
        c-0.352,0.646-0.528,1.379-0.528,2.2s0.168,1.555,0.506,2.2s0.807,1.158,1.408,1.539c0.601,0.382,1.298,0.572,2.09,0.572
        c0.513,0,0.92-0.044,1.221-0.132c0.3-0.088,0.561-0.19,0.781-0.308c0.25-0.146,0.444-0.294,0.583-0.44s0.333-0.22,0.583-0.22
        s0.443,0.081,0.583,0.242c0.139,0.161,0.209,0.359,0.209,0.594c0,0.278-0.184,0.564-0.55,0.857
        c-0.367,0.294-0.866,0.539-1.496,0.737c-0.631,0.198-1.335,0.297-2.112,0.297c-1.115,0-2.09-0.26-2.926-0.78
        s-1.485-1.232-1.947-2.135c-0.462-0.901-0.693-1.91-0.693-3.024s0.238-2.119,0.715-3.014c0.477-0.895,1.14-1.606,1.991-2.135
        C215.6,105.09,216.583,104.825,217.698,104.825z" />
      <path d="M225.134,116.485c-0.264,0-0.48-0.088-0.649-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-14.476
        c0-0.249,0.084-0.462,0.253-0.638c0.168-0.176,0.385-0.264,0.649-0.264c0.249,0,0.458,0.088,0.627,0.264
        c0.168,0.176,0.253,0.389,0.253,0.638v14.476c0,0.25-0.084,0.462-0.253,0.639C225.592,116.397,225.383,116.485,225.134,116.485z
        M232.438,105.046c0.235,0,0.437,0.092,0.605,0.274c0.168,0.184,0.253,0.378,0.253,0.583c0,0.235-0.118,0.455-0.352,0.66
        l-7.128,6.226l-0.066-2.067l6.05-5.412C231.99,105.134,232.203,105.046,232.438,105.046z M232.68,116.463
        c-0.264,0-0.484-0.095-0.66-0.285l-4.686-4.994l1.32-1.21l4.642,4.972c0.176,0.19,0.264,0.411,0.264,0.66
        c0,0.264-0.103,0.473-0.308,0.627C233.046,116.387,232.855,116.463,232.68,116.463z" />
      <path
        d="M255.581,104.914c0.234,0,0.437,0.08,0.605,0.241c0.168,0.162,0.253,0.382,0.253,0.66c0,0.059-0.003,0.121-0.011,0.188
        c-0.008,0.065-0.026,0.121-0.055,0.165l-3.388,9.745c-0.074,0.191-0.195,0.341-0.363,0.451s-0.349,0.15-0.539,0.121
        c-0.337-0.015-0.594-0.205-0.77-0.572l-2.772-6.93l0.44,0.066l-2.508,6.863c-0.162,0.367-0.418,0.558-0.77,0.572
        c-0.191,0.029-0.374-0.011-0.55-0.121c-0.176-0.11-0.301-0.26-0.374-0.451l-3.432-9.745c-0.044-0.117-0.066-0.234-0.066-0.353
        c0-0.249,0.081-0.462,0.242-0.638c0.161-0.176,0.381-0.264,0.66-0.264c0.176,0,0.337,0.044,0.484,0.132s0.25,0.234,0.308,0.439
        l2.97,8.646l-0.462-0.022l2.552-6.6c0.161-0.366,0.44-0.55,0.836-0.55c0.206,0,0.37,0.048,0.495,0.143
        c0.125,0.096,0.216,0.231,0.275,0.407l2.684,6.6l-0.55,0.044l2.97-8.668C254.862,105.104,255.141,104.914,255.581,104.914z" />
      <path d="M264.315,104.936c0.968,0,1.734,0.209,2.299,0.627s0.968,0.976,1.21,1.672c0.242,0.697,0.363,1.471,0.363,2.321v6.027
        c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.477-0.088-0.638-0.264
        c-0.162-0.177-0.242-0.389-0.242-0.639v-6.027c0-0.543-0.081-1.041-0.242-1.496c-0.162-0.454-0.429-0.817-0.803-1.089
        s-0.884-0.407-1.529-0.407c-0.602,0-1.151,0.136-1.65,0.407c-0.499,0.271-0.895,0.635-1.188,1.089
        c-0.293,0.455-0.44,0.953-0.44,1.496v6.027c0,0.25-0.085,0.462-0.253,0.639c-0.168,0.176-0.377,0.264-0.627,0.264
        s-0.458-0.088-0.627-0.264c-0.168-0.177-0.253-0.389-0.253-0.639v-14.476c0-0.249,0.084-0.462,0.253-0.638s0.377-0.264,0.627-0.264
        c0.264,0,0.477,0.088,0.638,0.264c0.161,0.176,0.242,0.389,0.242,0.638v6.557l-0.44,0.483c0.073-0.381,0.234-0.766,0.484-1.155
        c0.249-0.388,0.564-0.736,0.946-1.045c0.381-0.308,0.807-0.553,1.276-0.736S263.801,104.936,264.315,104.936z" />
      <path d="M280.815,105.002c0.249,0,0.458,0.084,0.627,0.253c0.168,0.169,0.253,0.378,0.253,0.627v9.701
        c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.48-0.088-0.649-0.264
        c-0.169-0.177-0.253-0.389-0.253-0.639v-2.09l0.418-0.044c0,0.338-0.11,0.693-0.33,1.067c-0.22,0.374-0.521,0.726-0.902,1.056
        c-0.382,0.33-0.829,0.602-1.342,0.814c-0.514,0.212-1.071,0.318-1.672,0.318c-0.998,0-1.896-0.26-2.695-0.78
        c-0.8-0.521-1.427-1.229-1.881-2.123s-0.682-1.914-0.682-3.059c0-1.158,0.231-2.181,0.693-3.068s1.085-1.584,1.87-2.09
        c0.784-0.507,1.668-0.76,2.651-0.76c0.63,0,1.217,0.104,1.76,0.309s1.016,0.483,1.419,0.836c0.403,0.352,0.715,0.74,0.935,1.166
        c0.22,0.426,0.33,0.851,0.33,1.275l-0.572-0.132v-2.397c0-0.249,0.084-0.458,0.253-0.627
        C280.334,105.086,280.551,105.002,280.815,105.002z M276.283,115.077c0.733,0,1.379-0.19,1.936-0.572
        c0.558-0.381,0.998-0.897,1.32-1.551c0.322-0.652,0.484-1.39,0.484-2.211c0-0.807-0.162-1.532-0.484-2.178
        c-0.323-0.646-0.763-1.158-1.32-1.54c-0.557-0.381-1.203-0.572-1.936-0.572c-0.719,0-1.36,0.188-1.925,0.562
        c-0.565,0.374-1.008,0.884-1.331,1.529c-0.323,0.645-0.484,1.378-0.484,2.199s0.157,1.559,0.473,2.211
        c0.315,0.653,0.755,1.17,1.32,1.551C274.9,114.887,275.549,115.077,276.283,115.077z" />
      <path d="M284.511,105.178h5.17c0.234,0,0.429,0.081,0.583,0.242c0.154,0.161,0.231,0.359,0.231,0.594
        c0,0.22-0.077,0.407-0.231,0.561c-0.154,0.154-0.349,0.231-0.583,0.231h-5.17c-0.22,0-0.415-0.08-0.583-0.242
        c-0.169-0.161-0.253-0.352-0.253-0.572c0-0.234,0.084-0.429,0.253-0.583C284.096,105.255,284.291,105.178,284.511,105.178z
        M286.821,102.186c0.249,0,0.455,0.088,0.616,0.264c0.162,0.177,0.242,0.389,0.242,0.639v10.604c0,0.352,0.051,0.616,0.154,0.792
        s0.238,0.297,0.407,0.363c0.168,0.065,0.333,0.099,0.495,0.099c0.146,0,0.275-0.025,0.385-0.077
        c0.11-0.051,0.238-0.077,0.385-0.077c0.146,0,0.282,0.07,0.407,0.209c0.125,0.14,0.187,0.319,0.187,0.539
        c0,0.265-0.154,0.488-0.462,0.671c-0.308,0.184-0.653,0.275-1.034,0.275c-0.206,0-0.458-0.015-0.759-0.044
        c-0.301-0.029-0.598-0.124-0.891-0.286c-0.293-0.161-0.539-0.429-0.737-0.803c-0.198-0.374-0.297-0.898-0.297-1.573v-10.691
        c0-0.25,0.088-0.462,0.264-0.639C286.359,102.273,286.571,102.186,286.821,102.186z" />
      <path d="M304.024,104.825c0.762,0,1.444,0.081,2.046,0.242c0.601,0.162,1.078,0.382,1.43,0.66c0.352,0.279,0.528,0.594,0.528,0.946
        c0,0.205-0.066,0.396-0.198,0.571c-0.132,0.177-0.316,0.265-0.55,0.265c-0.19,0-0.349-0.04-0.473-0.121
        c-0.125-0.08-0.242-0.176-0.352-0.286c-0.11-0.11-0.261-0.216-0.451-0.319c-0.176-0.088-0.433-0.165-0.77-0.23
        c-0.337-0.066-0.675-0.1-1.012-0.1c-0.807,0-1.514,0.191-2.123,0.572c-0.609,0.382-1.089,0.895-1.441,1.54
        c-0.352,0.646-0.528,1.379-0.528,2.2s0.168,1.555,0.506,2.2s0.807,1.158,1.408,1.539c0.601,0.382,1.298,0.572,2.09,0.572
        c0.513,0,0.92-0.044,1.221-0.132c0.3-0.088,0.561-0.19,0.781-0.308c0.25-0.146,0.444-0.294,0.583-0.44s0.333-0.22,0.583-0.22
        s0.443,0.081,0.583,0.242c0.139,0.161,0.209,0.359,0.209,0.594c0,0.278-0.184,0.564-0.55,0.857
        c-0.367,0.294-0.866,0.539-1.496,0.737c-0.631,0.198-1.335,0.297-2.112,0.297c-1.115,0-2.09-0.26-2.926-0.78
        s-1.485-1.232-1.947-2.135c-0.462-0.901-0.693-1.91-0.693-3.024s0.238-2.119,0.715-3.014c0.477-0.895,1.14-1.606,1.991-2.135
        C301.927,105.09,302.91,104.825,304.024,104.825z" />
      <path d="M321.207,110.766c0,1.144-0.253,2.163-0.759,3.058s-1.188,1.599-2.046,2.112s-1.823,0.77-2.893,0.77
        c-1.071,0-2.039-0.256-2.904-0.77c-0.866-0.514-1.551-1.218-2.057-2.112s-0.759-1.914-0.759-3.058c0-1.145,0.253-2.163,0.759-3.058
        s1.191-1.599,2.057-2.112c0.865-0.514,1.833-0.771,2.904-0.771c1.07,0,2.035,0.257,2.893,0.771s1.54,1.218,2.046,2.112
        S321.207,109.621,321.207,110.766z M319.424,110.766c0-0.851-0.172-1.595-0.517-2.233c-0.345-0.638-0.814-1.144-1.408-1.518
        c-0.594-0.374-1.258-0.562-1.991-0.562c-0.748,0-1.419,0.188-2.013,0.562c-0.594,0.374-1.067,0.88-1.419,1.518
        c-0.352,0.639-0.528,1.383-0.528,2.233c0,0.836,0.176,1.576,0.528,2.222c0.352,0.646,0.825,1.155,1.419,1.529
        c0.594,0.374,1.265,0.561,2.013,0.561c0.733,0,1.397-0.187,1.991-0.561c0.594-0.374,1.063-0.884,1.408-1.529
        S319.424,111.602,319.424,110.766z" />
      <path d="M329.5,104.825c0.997,0,1.782,0.206,2.354,0.616c0.572,0.411,0.979,0.961,1.221,1.65c0.242,0.689,0.363,1.467,0.363,2.331
        v6.16c0,0.25-0.085,0.462-0.253,0.639c-0.168,0.176-0.377,0.264-0.627,0.264c-0.264,0-0.477-0.088-0.638-0.264
        c-0.162-0.177-0.242-0.389-0.242-0.639v-6.115c0-0.558-0.084-1.063-0.253-1.519c-0.169-0.454-0.451-0.817-0.847-1.089
        c-0.396-0.271-0.924-0.407-1.584-0.407c-0.616,0-1.181,0.137-1.694,0.407c-0.514,0.271-0.924,0.635-1.232,1.089
        c-0.308,0.455-0.462,0.961-0.462,1.519v6.115c0,0.25-0.085,0.462-0.253,0.639c-0.168,0.176-0.377,0.264-0.627,0.264
        s-0.458-0.088-0.627-0.264c-0.168-0.177-0.253-0.389-0.253-0.639v-9.569c0-0.264,0.084-0.48,0.253-0.649
        c0.168-0.168,0.377-0.253,0.627-0.253c0.264,0,0.477,0.085,0.638,0.253c0.161,0.169,0.242,0.386,0.242,0.649v1.54l-0.44,0.483
        c0.073-0.381,0.242-0.766,0.506-1.154c0.264-0.389,0.594-0.737,0.99-1.045c0.396-0.309,0.836-0.554,1.32-0.737
        C328.466,104.917,328.972,104.825,329.5,104.825z" />
      <path d="M336.254,105.178h5.17c0.234,0,0.429,0.081,0.583,0.242c0.154,0.161,0.231,0.359,0.231,0.594
        c0,0.22-0.077,0.407-0.231,0.561c-0.154,0.154-0.349,0.231-0.583,0.231h-5.17c-0.22,0-0.415-0.08-0.583-0.242
        c-0.169-0.161-0.253-0.352-0.253-0.572c0-0.234,0.084-0.429,0.253-0.583C335.84,105.255,336.034,105.178,336.254,105.178z
        M338.564,102.186c0.249,0,0.455,0.088,0.616,0.264c0.162,0.177,0.242,0.389,0.242,0.639v10.604c0,0.352,0.051,0.616,0.154,0.792
        s0.238,0.297,0.407,0.363c0.168,0.065,0.333,0.099,0.495,0.099c0.146,0,0.275-0.025,0.385-0.077
        c0.11-0.051,0.238-0.077,0.385-0.077c0.146,0,0.282,0.07,0.407,0.209c0.125,0.14,0.187,0.319,0.187,0.539
        c0,0.265-0.154,0.488-0.462,0.671c-0.308,0.184-0.653,0.275-1.034,0.275c-0.206,0-0.458-0.015-0.759-0.044
        c-0.301-0.029-0.598-0.124-0.891-0.286c-0.293-0.161-0.539-0.429-0.737-0.803c-0.198-0.374-0.297-0.898-0.297-1.573v-10.691
        c0-0.25,0.088-0.462,0.264-0.639C338.103,102.273,338.315,102.186,338.564,102.186z" />
      <path d="M349.829,116.705c-1.188,0-2.222-0.249-3.102-0.748c-0.88-0.498-1.562-1.184-2.046-2.057
        c-0.484-0.872-0.726-1.881-0.726-3.025c0-1.275,0.253-2.364,0.759-3.267c0.506-0.901,1.166-1.591,1.98-2.067
        s1.675-0.716,2.585-0.716c0.674,0,1.327,0.125,1.958,0.374c0.63,0.25,1.188,0.616,1.672,1.101c0.484,0.483,0.873,1.056,1.166,1.716
        s0.447,1.407,0.462,2.244c0,0.234-0.088,0.429-0.264,0.583c-0.176,0.153-0.382,0.23-0.616,0.23h-8.69l-0.396-1.518h8.448
        l-0.352,0.308v-0.483c-0.044-0.602-0.239-1.118-0.583-1.552c-0.345-0.432-0.763-0.766-1.254-1.001
        c-0.492-0.234-1.009-0.352-1.551-0.352c-0.44,0-0.876,0.081-1.309,0.242s-0.821,0.41-1.166,0.748
        c-0.345,0.337-0.624,0.777-0.836,1.319c-0.213,0.543-0.319,1.195-0.319,1.958c0,0.851,0.172,1.599,0.517,2.244
        c0.344,0.646,0.825,1.155,1.441,1.529c0.616,0.374,1.334,0.561,2.156,0.561c0.513,0,0.96-0.065,1.342-0.198
        c0.381-0.132,0.708-0.297,0.979-0.494c0.271-0.198,0.502-0.399,0.693-0.605c0.19-0.132,0.381-0.198,0.572-0.198
        c0.206,0,0.381,0.074,0.528,0.221c0.146,0.146,0.22,0.322,0.22,0.527c0,0.25-0.117,0.477-0.352,0.683
        c-0.425,0.454-0.986,0.851-1.683,1.188C351.365,116.536,350.621,116.705,349.829,116.705z" />
      <path d="M362.831,104.825c0.997,0,1.782,0.206,2.354,0.616c0.572,0.411,0.979,0.961,1.221,1.65
        c0.242,0.689,0.363,1.467,0.363,2.331v6.16c0,0.25-0.085,0.462-0.253,0.639c-0.168,0.176-0.377,0.264-0.627,0.264
        c-0.264,0-0.477-0.088-0.638-0.264c-0.162-0.177-0.242-0.389-0.242-0.639v-6.115c0-0.558-0.084-1.063-0.253-1.519
        c-0.169-0.454-0.451-0.817-0.847-1.089c-0.396-0.271-0.924-0.407-1.584-0.407c-0.616,0-1.181,0.137-1.694,0.407
        c-0.514,0.271-0.924,0.635-1.232,1.089c-0.308,0.455-0.462,0.961-0.462,1.519v6.115c0,0.25-0.085,0.462-0.253,0.639
        c-0.168,0.176-0.377,0.264-0.627,0.264s-0.458-0.088-0.627-0.264c-0.168-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.168-0.168,0.377-0.253,0.627-0.253c0.264,0,0.477,0.085,0.638,0.253
        c0.161,0.169,0.242,0.386,0.242,0.649v1.54l-0.44,0.483c0.073-0.381,0.242-0.766,0.506-1.154c0.264-0.389,0.594-0.737,0.99-1.045
        c0.396-0.309,0.836-0.554,1.32-0.737C361.796,104.917,362.302,104.825,362.831,104.825z" />
      <path d="M369.584,105.178h5.17c0.234,0,0.429,0.081,0.583,0.242c0.154,0.161,0.231,0.359,0.231,0.594
        c0,0.22-0.077,0.407-0.231,0.561c-0.154,0.154-0.349,0.231-0.583,0.231h-5.17c-0.22,0-0.415-0.08-0.583-0.242
        c-0.169-0.161-0.253-0.352-0.253-0.572c0-0.234,0.084-0.429,0.253-0.583C369.169,105.255,369.364,105.178,369.584,105.178z
        M371.894,102.186c0.249,0,0.455,0.088,0.616,0.264c0.162,0.177,0.242,0.389,0.242,0.639v10.604c0,0.352,0.051,0.616,0.154,0.792
        s0.238,0.297,0.407,0.363c0.168,0.065,0.333,0.099,0.495,0.099c0.146,0,0.275-0.025,0.385-0.077
        c0.11-0.051,0.238-0.077,0.385-0.077c0.146,0,0.282,0.07,0.407,0.209c0.125,0.14,0.187,0.319,0.187,0.539
        c0,0.265-0.154,0.488-0.462,0.671c-0.308,0.184-0.653,0.275-1.034,0.275c-0.206,0-0.458-0.015-0.759-0.044
        c-0.301-0.029-0.598-0.124-0.891-0.286c-0.293-0.161-0.539-0.429-0.737-0.803c-0.198-0.374-0.297-0.898-0.297-1.573v-10.691
        c0-0.25,0.088-0.462,0.264-0.639C371.432,102.273,371.645,102.186,371.894,102.186z" />
      <path
        d="M392.574,104.936c0.249,0,0.458,0.088,0.627,0.264c0.168,0.177,0.253,0.389,0.253,0.639v9.569
        c0,1.246-0.242,2.273-0.726,3.08s-1.133,1.408-1.947,1.804c-0.814,0.396-1.735,0.595-2.761,0.595c-0.572,0-1.122-0.06-1.65-0.177
        s-0.961-0.271-1.298-0.462c-0.279-0.132-0.477-0.297-0.594-0.495c-0.118-0.197-0.132-0.406-0.044-0.627
        c0.103-0.264,0.253-0.447,0.451-0.55c0.198-0.103,0.407-0.103,0.627,0c0.234,0.103,0.575,0.245,1.023,0.429
        c0.447,0.184,0.949,0.275,1.507,0.275c0.763,0,1.416-0.146,1.958-0.44c0.542-0.293,0.96-0.722,1.254-1.286
        c0.293-0.565,0.44-1.266,0.44-2.102v-1.54l0.242,0.528c-0.22,0.47-0.528,0.873-0.924,1.21c-0.396,0.338-0.854,0.598-1.375,0.781
        c-0.521,0.183-1.082,0.274-1.683,0.274c-0.851,0-1.566-0.18-2.145-0.539c-0.58-0.358-1.016-0.857-1.309-1.496
        c-0.293-0.638-0.44-1.367-0.44-2.188v-6.644c0-0.25,0.084-0.462,0.253-0.639c0.168-0.176,0.377-0.264,0.627-0.264
        c0.264,0,0.477,0.088,0.638,0.264c0.161,0.177,0.242,0.389,0.242,0.639v6.226c0,0.997,0.22,1.749,0.66,2.255
        s1.122,0.759,2.046,0.759c0.586,0,1.114-0.132,1.584-0.396c0.469-0.265,0.847-0.627,1.133-1.089
        c0.286-0.463,0.429-0.972,0.429-1.529v-6.226c0-0.25,0.084-0.462,0.253-0.639C392.094,105.023,392.31,104.936,392.574,104.936z" />
      <path d="M407.402,110.766c0,1.144-0.253,2.163-0.759,3.058s-1.188,1.599-2.046,2.112s-1.823,0.77-2.893,0.77
        c-1.071,0-2.039-0.256-2.904-0.77c-0.866-0.514-1.551-1.218-2.057-2.112s-0.759-1.914-0.759-3.058c0-1.145,0.253-2.163,0.759-3.058
        s1.191-1.599,2.057-2.112c0.865-0.514,1.833-0.771,2.904-0.771c1.07,0,2.035,0.257,2.893,0.771s1.54,1.218,2.046,2.112
        S407.402,109.621,407.402,110.766z M405.62,110.766c0-0.851-0.172-1.595-0.517-2.233c-0.345-0.638-0.814-1.144-1.408-1.518
        c-0.594-0.374-1.258-0.562-1.991-0.562c-0.748,0-1.419,0.188-2.013,0.562c-0.594,0.374-1.067,0.88-1.419,1.518
        c-0.352,0.639-0.528,1.383-0.528,2.233c0,0.836,0.176,1.576,0.528,2.222c0.352,0.646,0.825,1.155,1.419,1.529
        c0.594,0.374,1.265,0.561,2.013,0.561c0.733,0,1.397-0.187,1.991-0.561c0.594-0.374,1.063-0.884,1.408-1.529
        S405.62,111.602,405.62,110.766z" />
      <path d="M418.556,105.111c0.264,0,0.477,0.085,0.638,0.253c0.162,0.169,0.242,0.386,0.242,0.649v5.983
        c0,1.481-0.415,2.629-1.243,3.443c-0.829,0.813-1.983,1.221-3.465,1.221c-1.467,0-2.615-0.407-3.443-1.221
        c-0.829-0.814-1.243-1.962-1.243-3.443v-5.983c0-0.264,0.084-0.48,0.253-0.649c0.168-0.168,0.377-0.253,0.627-0.253
        c0.264,0,0.477,0.085,0.638,0.253c0.161,0.169,0.242,0.386,0.242,0.649v5.983c0,0.998,0.256,1.753,0.77,2.267
        c0.513,0.514,1.232,0.77,2.156,0.77c0.938,0,1.665-0.256,2.178-0.77c0.513-0.514,0.77-1.269,0.77-2.267v-5.983
        c0-0.264,0.08-0.48,0.242-0.649C418.079,105.196,418.292,105.111,418.556,105.111z" />
      <path d="M433.78,104.825c0.762,0,1.444,0.081,2.046,0.242c0.601,0.162,1.078,0.382,1.43,0.66c0.352,0.279,0.527,0.594,0.527,0.946
        c0,0.205-0.065,0.396-0.197,0.571c-0.133,0.177-0.316,0.265-0.551,0.265c-0.19,0-0.348-0.04-0.472-0.121
        c-0.125-0.08-0.242-0.176-0.352-0.286c-0.11-0.11-0.261-0.216-0.451-0.319c-0.176-0.088-0.433-0.165-0.77-0.23
        c-0.337-0.066-0.675-0.1-1.012-0.1c-0.807,0-1.514,0.191-2.123,0.572c-0.609,0.382-1.089,0.895-1.441,1.54
        c-0.352,0.646-0.528,1.379-0.528,2.2s0.168,1.555,0.506,2.2s0.807,1.158,1.408,1.539c0.601,0.382,1.298,0.572,2.09,0.572
        c0.513,0,0.92-0.044,1.221-0.132c0.3-0.088,0.561-0.19,0.781-0.308c0.25-0.146,0.444-0.294,0.583-0.44s0.333-0.22,0.583-0.22
        c0.249,0,0.443,0.081,0.583,0.242c0.139,0.161,0.209,0.359,0.209,0.594c0,0.278-0.184,0.564-0.55,0.857
        c-0.367,0.294-0.866,0.539-1.496,0.737c-0.631,0.198-1.335,0.297-2.112,0.297c-1.115,0-2.09-0.26-2.926-0.78
        s-1.485-1.232-1.947-2.135c-0.462-0.901-0.693-1.91-0.693-3.024s0.238-2.119,0.715-3.014c0.477-0.895,1.14-1.606,1.991-2.135
        C431.682,105.09,432.665,104.825,433.78,104.825z" />
      <path d="M449.531,105.002c0.249,0,0.458,0.084,0.627,0.253s0.253,0.378,0.253,0.627v9.701c0,0.25-0.084,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264c-0.265,0-0.48-0.088-0.649-0.264c-0.168-0.177-0.252-0.389-0.252-0.639v-2.09l0.418-0.044
        c0,0.338-0.111,0.693-0.33,1.067c-0.221,0.374-0.521,0.726-0.902,1.056c-0.382,0.33-0.829,0.602-1.342,0.814
        c-0.514,0.212-1.071,0.318-1.672,0.318c-0.998,0-1.896-0.26-2.695-0.78c-0.8-0.521-1.427-1.229-1.881-2.123
        c-0.455-0.895-0.682-1.914-0.682-3.059c0-1.158,0.23-2.181,0.692-3.068s1.085-1.584,1.87-2.09c0.784-0.507,1.668-0.76,2.651-0.76
        c0.63,0,1.217,0.104,1.76,0.309c0.542,0.205,1.016,0.483,1.419,0.836c0.403,0.352,0.715,0.74,0.935,1.166s0.33,0.851,0.33,1.275
        l-0.571-0.132v-2.397c0-0.249,0.084-0.458,0.252-0.627C449.051,105.086,449.267,105.002,449.531,105.002z M444.999,115.077
        c0.733,0,1.379-0.19,1.937-0.572c0.558-0.381,0.997-0.897,1.32-1.551c0.322-0.652,0.483-1.39,0.483-2.211
        c0-0.807-0.161-1.532-0.483-2.178c-0.323-0.646-0.763-1.158-1.32-1.54c-0.558-0.381-1.203-0.572-1.937-0.572
        c-0.719,0-1.36,0.188-1.925,0.562s-1.008,0.884-1.331,1.529c-0.322,0.645-0.483,1.378-0.483,2.199s0.157,1.559,0.473,2.211
        c0.315,0.653,0.755,1.17,1.32,1.551C443.617,114.887,444.266,115.077,444.999,115.077z" />
      <path d="M459.321,104.825c0.997,0,1.782,0.206,2.354,0.616c0.572,0.411,0.979,0.961,1.222,1.65
        c0.241,0.689,0.362,1.467,0.362,2.331v6.16c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264
        c-0.264,0-0.477-0.088-0.638-0.264c-0.162-0.177-0.242-0.389-0.242-0.639v-6.115c0-0.558-0.085-1.063-0.253-1.519
        c-0.169-0.454-0.451-0.817-0.847-1.089c-0.396-0.271-0.925-0.407-1.584-0.407c-0.616,0-1.181,0.137-1.694,0.407
        c-0.514,0.271-0.924,0.635-1.232,1.089c-0.308,0.455-0.462,0.961-0.462,1.519v6.115c0,0.25-0.084,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264s-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253c0.265,0,0.477,0.085,0.639,0.253
        c0.161,0.169,0.241,0.386,0.241,0.649v1.54l-0.439,0.483c0.073-0.381,0.242-0.766,0.506-1.154s0.594-0.737,0.99-1.045
        c0.396-0.309,0.836-0.554,1.319-0.737C458.287,104.917,458.793,104.825,459.321,104.825z" />
      <path d="M478.175,104.936c0.997,0,1.892,0.25,2.684,0.748c0.792,0.499,1.419,1.188,1.881,2.068s0.693,1.892,0.693,3.035
        c0,1.13-0.231,2.138-0.693,3.025s-1.085,1.584-1.87,2.09c-0.784,0.506-1.668,0.759-2.65,0.759c-0.543,0-1.053-0.084-1.529-0.253
        c-0.477-0.168-0.909-0.389-1.298-0.66c-0.389-0.271-0.715-0.575-0.979-0.913c-0.264-0.337-0.454-0.682-0.571-1.033l0.483-0.286
        v6.468c0,0.249-0.08,0.462-0.241,0.638c-0.162,0.176-0.374,0.265-0.639,0.265c-0.249,0-0.458-0.085-0.627-0.253
        c-0.169-0.169-0.253-0.386-0.253-0.649v-14.036c0-0.264,0.084-0.479,0.253-0.648s0.378-0.253,0.627-0.253
        c0.265,0,0.477,0.084,0.639,0.253c0.161,0.169,0.241,0.385,0.241,0.648v1.937l-0.33-0.176c0.103-0.367,0.282-0.719,0.539-1.057
        c0.257-0.337,0.572-0.634,0.946-0.891s0.792-0.458,1.254-0.605C477.195,105.009,477.676,104.936,478.175,104.936z M477.977,106.563
        c-0.733,0-1.383,0.184-1.947,0.55c-0.564,0.367-1.005,0.866-1.319,1.496c-0.316,0.631-0.474,1.356-0.474,2.178
        c0,0.807,0.157,1.533,0.474,2.179c0.314,0.646,0.755,1.151,1.319,1.518c0.564,0.367,1.214,0.55,1.947,0.55s1.378-0.183,1.936-0.55
        c0.558-0.366,0.998-0.872,1.32-1.518s0.484-1.372,0.484-2.179c0-0.821-0.162-1.547-0.484-2.178c-0.322-0.63-0.763-1.129-1.32-1.496
        C479.354,106.747,478.71,106.563,477.977,106.563z" />
      <path d="M488.01,115.583c0,0.25-0.089,0.462-0.265,0.639c-0.176,0.176-0.389,0.264-0.638,0.264c-0.25,0-0.459-0.088-0.627-0.264
        c-0.169-0.177-0.253-0.389-0.253-0.639v-14.476c0-0.249,0.088-0.462,0.264-0.638s0.389-0.264,0.638-0.264
        c0.265,0,0.477,0.088,0.639,0.264c0.161,0.176,0.242,0.389,0.242,0.638V115.583z" />
      <path d="M500.791,105.002c0.249,0,0.458,0.084,0.627,0.253s0.253,0.378,0.253,0.627v9.701c0,0.25-0.084,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.48-0.088-0.649-0.264c-0.168-0.177-0.253-0.389-0.253-0.639v-2.09l0.418-0.044
        c0,0.338-0.109,0.693-0.33,1.067c-0.22,0.374-0.521,0.726-0.901,1.056c-0.382,0.33-0.829,0.602-1.342,0.814
        c-0.514,0.212-1.071,0.318-1.673,0.318c-0.997,0-1.896-0.26-2.694-0.78c-0.8-0.521-1.427-1.229-1.881-2.123
        c-0.455-0.895-0.683-1.914-0.683-3.059c0-1.158,0.231-2.181,0.693-3.068s1.085-1.584,1.87-2.09c0.784-0.507,1.668-0.76,2.65-0.76
        c0.631,0,1.218,0.104,1.761,0.309c0.542,0.205,1.015,0.483,1.419,0.836c0.403,0.352,0.715,0.74,0.935,1.166s0.33,0.851,0.33,1.275
        l-0.572-0.132v-2.397c0-0.249,0.085-0.458,0.253-0.627C500.311,105.086,500.527,105.002,500.791,105.002z M496.259,115.077
        c0.733,0,1.379-0.19,1.937-0.572c0.557-0.381,0.997-0.897,1.319-1.551c0.323-0.652,0.484-1.39,0.484-2.211
        c0-0.807-0.161-1.532-0.484-2.178c-0.322-0.646-0.763-1.158-1.319-1.54c-0.558-0.381-1.203-0.572-1.937-0.572
        c-0.719,0-1.36,0.188-1.925,0.562s-1.009,0.884-1.331,1.529c-0.322,0.645-0.484,1.378-0.484,2.199s0.158,1.559,0.474,2.211
        c0.315,0.653,0.755,1.17,1.32,1.551C494.876,114.887,495.525,115.077,496.259,115.077z" />
      <path d="M513.44,104.936c0.25,0,0.459,0.088,0.627,0.264c0.169,0.177,0.254,0.389,0.254,0.639v9.569
        c0,1.246-0.242,2.273-0.727,3.08s-1.133,1.408-1.947,1.804c-0.813,0.396-1.734,0.595-2.761,0.595c-0.572,0-1.122-0.06-1.649-0.177
        c-0.528-0.117-0.961-0.271-1.299-0.462c-0.278-0.132-0.477-0.297-0.594-0.495c-0.117-0.197-0.132-0.406-0.044-0.627
        c0.103-0.264,0.253-0.447,0.451-0.55s0.407-0.103,0.627,0c0.234,0.103,0.575,0.245,1.022,0.429s0.95,0.275,1.508,0.275
        c0.762,0,1.415-0.146,1.958-0.44c0.542-0.293,0.96-0.722,1.254-1.286c0.293-0.565,0.439-1.266,0.439-2.102v-1.54l0.242,0.528
        c-0.22,0.47-0.528,0.873-0.924,1.21c-0.396,0.338-0.854,0.598-1.375,0.781c-0.521,0.183-1.082,0.274-1.683,0.274
        c-0.852,0-1.566-0.18-2.146-0.539c-0.579-0.358-1.016-0.857-1.309-1.496c-0.294-0.638-0.44-1.367-0.44-2.188v-6.644
        c0-0.25,0.084-0.462,0.253-0.639c0.169-0.176,0.378-0.264,0.627-0.264c0.265,0,0.477,0.088,0.639,0.264
        c0.161,0.177,0.241,0.389,0.241,0.639v6.226c0,0.997,0.221,1.749,0.66,2.255c0.44,0.506,1.122,0.759,2.046,0.759
        c0.587,0,1.114-0.132,1.584-0.396c0.47-0.265,0.848-0.627,1.133-1.089c0.286-0.463,0.43-0.972,0.43-1.529v-6.226
        c0-0.25,0.084-0.462,0.253-0.639C512.96,105.023,513.177,104.936,513.44,104.936z" />
      <path
        d="M537.047,104.914c0.234,0,0.437,0.08,0.605,0.241c0.168,0.162,0.253,0.382,0.253,0.66c0,0.059-0.004,0.121-0.012,0.188
        c-0.007,0.065-0.025,0.121-0.055,0.165l-3.388,9.745c-0.073,0.191-0.194,0.341-0.363,0.451s-0.349,0.15-0.539,0.121
        c-0.337-0.015-0.594-0.205-0.77-0.572l-2.772-6.93l0.44,0.066l-2.508,6.863c-0.162,0.367-0.418,0.558-0.771,0.572
        c-0.19,0.029-0.374-0.011-0.55-0.121s-0.301-0.26-0.374-0.451l-3.432-9.745c-0.045-0.117-0.066-0.234-0.066-0.353
        c0-0.249,0.08-0.462,0.242-0.638c0.161-0.176,0.381-0.264,0.66-0.264c0.176,0,0.337,0.044,0.483,0.132s0.249,0.234,0.309,0.439
        l2.97,8.646l-0.462-0.022l2.552-6.6c0.161-0.366,0.44-0.55,0.836-0.55c0.205,0,0.37,0.048,0.495,0.143
        c0.124,0.096,0.216,0.231,0.275,0.407l2.684,6.6l-0.55,0.044l2.97-8.668C536.328,105.104,536.607,104.914,537.047,104.914z" />
      <path d="M541.072,103.462c-0.367,0-0.638-0.073-0.813-0.221c-0.177-0.146-0.265-0.374-0.265-0.682v-0.308
        c0-0.309,0.096-0.535,0.286-0.683c0.19-0.146,0.462-0.22,0.814-0.22c0.352,0,0.615,0.073,0.792,0.22
        c0.176,0.147,0.264,0.374,0.264,0.683v0.308c0,0.308-0.092,0.535-0.275,0.682C541.691,103.389,541.425,103.462,541.072,103.462z
        M541.975,115.583c0,0.25-0.085,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.265,0-0.48-0.088-0.649-0.264
        c-0.169-0.177-0.253-0.389-0.253-0.639v-9.745c0-0.25,0.084-0.462,0.253-0.639c0.169-0.176,0.385-0.264,0.649-0.264
        c0.249,0,0.458,0.088,0.627,0.264c0.168,0.177,0.253,0.389,0.253,0.639V115.583z" />
      <path d="M544.703,105.178h5.17c0.234,0,0.429,0.081,0.583,0.242c0.153,0.161,0.23,0.359,0.23,0.594c0,0.22-0.077,0.407-0.23,0.561
        c-0.154,0.154-0.349,0.231-0.583,0.231h-5.17c-0.221,0-0.415-0.08-0.583-0.242c-0.169-0.161-0.254-0.352-0.254-0.572
        c0-0.234,0.085-0.429,0.254-0.583C544.288,105.255,544.482,105.178,544.703,105.178z M547.013,102.186
        c0.249,0,0.454,0.088,0.616,0.264c0.161,0.177,0.242,0.389,0.242,0.639v10.604c0,0.352,0.051,0.616,0.153,0.792
        s0.238,0.297,0.407,0.363c0.168,0.065,0.333,0.099,0.495,0.099c0.146,0,0.274-0.025,0.385-0.077
        c0.11-0.051,0.238-0.077,0.385-0.077s0.282,0.07,0.407,0.209c0.125,0.14,0.188,0.319,0.188,0.539c0,0.265-0.154,0.488-0.462,0.671
        c-0.309,0.184-0.653,0.275-1.034,0.275c-0.206,0-0.459-0.015-0.759-0.044c-0.301-0.029-0.599-0.124-0.892-0.286
        c-0.293-0.161-0.539-0.429-0.737-0.803c-0.197-0.374-0.297-0.898-0.297-1.573v-10.691c0-0.25,0.088-0.462,0.265-0.639
        C546.551,102.273,546.763,102.186,547.013,102.186z" />
      <path
        d="M558.628,104.936c0.968,0,1.734,0.209,2.299,0.627s0.968,0.976,1.21,1.672c0.242,0.697,0.363,1.471,0.363,2.321v6.027
        c0,0.25-0.085,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.477-0.088-0.638-0.264
        c-0.162-0.177-0.242-0.389-0.242-0.639v-6.027c0-0.543-0.081-1.041-0.242-1.496c-0.161-0.454-0.429-0.817-0.803-1.089
        s-0.884-0.407-1.529-0.407c-0.602,0-1.151,0.136-1.65,0.407c-0.498,0.271-0.895,0.635-1.188,1.089
        c-0.294,0.455-0.44,0.953-0.44,1.496v6.027c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264
        s-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-14.476c0-0.249,0.084-0.462,0.253-0.638s0.378-0.264,0.627-0.264
        c0.265,0,0.477,0.088,0.639,0.264c0.161,0.176,0.241,0.389,0.241,0.638v6.557l-0.439,0.483c0.073-0.381,0.234-0.766,0.483-1.155
        c0.25-0.388,0.564-0.736,0.946-1.045c0.381-0.308,0.807-0.553,1.276-0.736C557.623,105.027,558.114,104.936,558.628,104.936z" />
      <path d="M580.319,104.936c0.25,0,0.459,0.088,0.627,0.264c0.169,0.177,0.254,0.389,0.254,0.639v9.569
        c0,1.246-0.242,2.273-0.727,3.08s-1.133,1.408-1.947,1.804c-0.813,0.396-1.734,0.595-2.761,0.595c-0.572,0-1.122-0.06-1.649-0.177
        c-0.528-0.117-0.961-0.271-1.299-0.462c-0.278-0.132-0.477-0.297-0.594-0.495c-0.117-0.197-0.132-0.406-0.044-0.627
        c0.103-0.264,0.253-0.447,0.451-0.55s0.407-0.103,0.627,0c0.234,0.103,0.575,0.245,1.022,0.429s0.95,0.275,1.508,0.275
        c0.762,0,1.415-0.146,1.958-0.44c0.542-0.293,0.96-0.722,1.254-1.286c0.293-0.565,0.439-1.266,0.439-2.102v-1.54l0.242,0.528
        c-0.22,0.47-0.528,0.873-0.924,1.21c-0.396,0.338-0.854,0.598-1.375,0.781c-0.521,0.183-1.082,0.274-1.683,0.274
        c-0.852,0-1.566-0.18-2.146-0.539c-0.579-0.358-1.016-0.857-1.309-1.496c-0.294-0.638-0.44-1.367-0.44-2.188v-6.644
        c0-0.25,0.084-0.462,0.253-0.639c0.169-0.176,0.378-0.264,0.627-0.264c0.265,0,0.477,0.088,0.639,0.264
        c0.161,0.177,0.241,0.389,0.241,0.639v6.226c0,0.997,0.221,1.749,0.66,2.255c0.44,0.506,1.122,0.759,2.046,0.759
        c0.587,0,1.114-0.132,1.584-0.396c0.47-0.265,0.848-0.627,1.133-1.089c0.286-0.463,0.43-0.972,0.43-1.529v-6.226
        c0-0.25,0.084-0.462,0.253-0.639C579.839,105.023,580.056,104.936,580.319,104.936z" />
      <path d="M595.147,110.766c0,1.144-0.253,2.163-0.759,3.058s-1.188,1.599-2.046,2.112s-1.822,0.77-2.893,0.77
        c-1.071,0-2.039-0.256-2.904-0.77s-1.551-1.218-2.057-2.112c-0.507-0.895-0.76-1.914-0.76-3.058c0-1.145,0.253-2.163,0.76-3.058
        c0.506-0.895,1.191-1.599,2.057-2.112s1.833-0.771,2.904-0.771c1.07,0,2.034,0.257,2.893,0.771s1.54,1.218,2.046,2.112
        S595.147,109.621,595.147,110.766z M593.366,110.766c0-0.851-0.173-1.595-0.518-2.233c-0.345-0.638-0.813-1.144-1.408-1.518
        c-0.594-0.374-1.258-0.562-1.99-0.562c-0.748,0-1.419,0.188-2.014,0.562c-0.594,0.374-1.066,0.88-1.419,1.518
        c-0.352,0.639-0.527,1.383-0.527,2.233c0,0.836,0.176,1.576,0.527,2.222c0.353,0.646,0.825,1.155,1.419,1.529
        c0.595,0.374,1.266,0.561,2.014,0.561c0.732,0,1.396-0.187,1.99-0.561c0.595-0.374,1.063-0.884,1.408-1.529
        S593.366,111.602,593.366,110.766z" />
      <path d="M606.301,105.111c0.265,0,0.477,0.085,0.639,0.253c0.161,0.169,0.242,0.386,0.242,0.649v5.983
        c0,1.481-0.415,2.629-1.243,3.443c-0.829,0.813-1.984,1.221-3.465,1.221c-1.467,0-2.615-0.407-3.443-1.221
        c-0.829-0.814-1.243-1.962-1.243-3.443v-5.983c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253
        c0.265,0,0.477,0.085,0.639,0.253c0.161,0.169,0.241,0.386,0.241,0.649v5.983c0,0.998,0.257,1.753,0.771,2.267
        c0.513,0.514,1.231,0.77,2.156,0.77c0.938,0,1.664-0.256,2.178-0.77c0.513-0.514,0.77-1.269,0.77-2.267v-5.983
        c0-0.264,0.081-0.48,0.242-0.649C605.824,105.196,606.037,105.111,606.301,105.111z" />
      <path d="M611.317,116.485c-0.249,0-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253c0.265,0,0.477,0.085,0.639,0.253
        c0.161,0.169,0.241,0.386,0.241,0.649v2.882l-0.264-0.462c0.088-0.454,0.245-0.898,0.473-1.331s0.518-0.821,0.869-1.166
        c0.353-0.345,0.756-0.616,1.21-0.813c0.455-0.198,0.953-0.298,1.496-0.298c0.322,0,0.619,0.077,0.892,0.231
        c0.271,0.154,0.406,0.37,0.406,0.649c0,0.308-0.08,0.538-0.242,0.692c-0.161,0.154-0.345,0.231-0.55,0.231
        c-0.19,0-0.374-0.044-0.55-0.132c-0.176-0.089-0.396-0.133-0.66-0.133c-0.366,0-0.729,0.104-1.089,0.309s-0.689,0.487-0.99,0.847
        s-0.542,0.771-0.726,1.232c-0.184,0.461-0.275,0.956-0.275,1.484v5.346c0,0.25-0.084,0.462-0.253,0.639
        C611.775,116.397,611.566,116.485,611.317,116.485z" />
      <path d="M630.677,105.287c0.234,0,0.433,0.077,0.594,0.231s0.242,0.349,0.242,0.583s-0.081,0.429-0.242,0.583
        s-0.359,0.231-0.594,0.231h-5.522c-0.234,0-0.433-0.077-0.594-0.231s-0.242-0.349-0.242-0.583c0-0.249,0.081-0.447,0.242-0.594
        s0.359-0.221,0.594-0.221H630.677z M630.061,100.25c0.249,0,0.51,0.032,0.781,0.099s0.506,0.169,0.704,0.308
        c0.198,0.14,0.297,0.334,0.297,0.583c0,0.235-0.073,0.43-0.22,0.583c-0.147,0.154-0.323,0.231-0.528,0.231
        c-0.132,0-0.315-0.036-0.55-0.11c-0.235-0.073-0.477-0.109-0.727-0.109c-0.337,0-0.612,0.073-0.824,0.22
        c-0.213,0.146-0.367,0.341-0.463,0.583c-0.095,0.242-0.143,0.51-0.143,0.803v12.144c0,0.25-0.085,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.477-0.088-0.638-0.264c-0.162-0.177-0.242-0.389-0.242-0.639v-12.144
        c0-0.968,0.304-1.741,0.913-2.321C628.15,100.539,628.99,100.25,630.061,100.25z" />
      <path d="M634.681,116.485c-0.249,0-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253c0.265,0,0.477,0.085,0.639,0.253
        c0.161,0.169,0.241,0.386,0.241,0.649v2.882l-0.264-0.462c0.088-0.454,0.245-0.898,0.473-1.331s0.518-0.821,0.869-1.166
        c0.353-0.345,0.756-0.616,1.21-0.813c0.455-0.198,0.953-0.298,1.496-0.298c0.322,0,0.619,0.077,0.892,0.231
        c0.271,0.154,0.406,0.37,0.406,0.649c0,0.308-0.08,0.538-0.242,0.692c-0.161,0.154-0.345,0.231-0.55,0.231
        c-0.19,0-0.374-0.044-0.55-0.132c-0.176-0.089-0.396-0.133-0.66-0.133c-0.366,0-0.729,0.104-1.089,0.309s-0.689,0.487-0.99,0.847
        s-0.542,0.771-0.726,1.232c-0.184,0.461-0.275,0.956-0.275,1.484v5.346c0,0.25-0.084,0.462-0.253,0.639
        C635.139,116.397,634.93,116.485,634.681,116.485z" />
      <path d="M643.414,103.462c-0.367,0-0.638-0.073-0.813-0.221c-0.177-0.146-0.265-0.374-0.265-0.682v-0.308
        c0-0.309,0.096-0.535,0.286-0.683c0.19-0.146,0.462-0.22,0.814-0.22c0.352,0,0.615,0.073,0.792,0.22
        c0.176,0.147,0.264,0.374,0.264,0.683v0.308c0,0.308-0.092,0.535-0.275,0.682C644.033,103.389,643.767,103.462,643.414,103.462z
        M644.316,115.583c0,0.25-0.085,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.265,0-0.48-0.088-0.649-0.264
        c-0.169-0.177-0.253-0.389-0.253-0.639v-9.745c0-0.25,0.084-0.462,0.253-0.639c0.169-0.176,0.385-0.264,0.649-0.264
        c0.249,0,0.458,0.088,0.627,0.264c0.168,0.177,0.253,0.389,0.253,0.639V115.583z" />
      <path d="M652.742,116.705c-1.188,0-2.222-0.249-3.102-0.748c-0.88-0.498-1.563-1.184-2.046-2.057
        c-0.484-0.872-0.727-1.881-0.727-3.025c0-1.275,0.253-2.364,0.76-3.267c0.506-0.901,1.165-1.591,1.979-2.067
        s1.676-0.716,2.585-0.716c0.675,0,1.327,0.125,1.958,0.374c0.631,0.25,1.188,0.616,1.672,1.101
        c0.484,0.483,0.873,1.056,1.166,1.716s0.447,1.407,0.462,2.244c0,0.234-0.088,0.429-0.264,0.583
        c-0.176,0.153-0.382,0.23-0.616,0.23h-8.689l-0.396-1.518h8.448l-0.353,0.308v-0.483c-0.044-0.602-0.238-1.118-0.583-1.552
        c-0.345-0.432-0.763-0.766-1.254-1.001c-0.491-0.234-1.008-0.352-1.551-0.352c-0.439,0-0.877,0.081-1.309,0.242
        c-0.434,0.161-0.822,0.41-1.166,0.748c-0.345,0.337-0.624,0.777-0.836,1.319c-0.213,0.543-0.319,1.195-0.319,1.958
        c0,0.851,0.172,1.599,0.517,2.244s0.825,1.155,1.441,1.529s1.334,0.561,2.156,0.561c0.513,0,0.96-0.065,1.342-0.198
        c0.381-0.132,0.707-0.297,0.979-0.494c0.271-0.198,0.503-0.399,0.693-0.605c0.19-0.132,0.381-0.198,0.572-0.198
        c0.205,0,0.381,0.074,0.527,0.221s0.221,0.322,0.221,0.527c0,0.25-0.118,0.477-0.353,0.683c-0.426,0.454-0.986,0.851-1.683,1.188
        C654.278,116.536,653.534,116.705,652.742,116.705z" />
      <path d="M665.744,104.825c0.997,0,1.782,0.206,2.354,0.616c0.572,0.411,0.979,0.961,1.222,1.65
        c0.241,0.689,0.362,1.467,0.362,2.331v6.16c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264
        c-0.264,0-0.477-0.088-0.638-0.264c-0.162-0.177-0.242-0.389-0.242-0.639v-6.115c0-0.558-0.085-1.063-0.253-1.519
        c-0.169-0.454-0.451-0.817-0.847-1.089c-0.396-0.271-0.925-0.407-1.584-0.407c-0.616,0-1.181,0.137-1.694,0.407
        c-0.514,0.271-0.924,0.635-1.232,1.089c-0.308,0.455-0.462,0.961-0.462,1.519v6.115c0,0.25-0.084,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264s-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253c0.265,0,0.477,0.085,0.639,0.253
        c0.161,0.169,0.241,0.386,0.241,0.649v1.54l-0.439,0.483c0.073-0.381,0.242-0.766,0.506-1.154s0.594-0.737,0.99-1.045
        c0.396-0.309,0.836-0.554,1.319-0.737C664.71,104.917,665.216,104.825,665.744,104.825z" />
      <path d="M682.311,100.206c0.249,0,0.458,0.084,0.627,0.253c0.169,0.168,0.253,0.385,0.253,0.648v14.476
        c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.264,0-0.48-0.088-0.649-0.264
        c-0.168-0.177-0.253-0.389-0.253-0.639v-2.09l0.418-0.132c0,0.338-0.106,0.7-0.318,1.089c-0.213,0.389-0.514,0.756-0.902,1.101
        s-0.84,0.623-1.353,0.836c-0.514,0.212-1.071,0.318-1.673,0.318c-0.997,0-1.892-0.256-2.684-0.77s-1.419-1.218-1.881-2.112
        s-0.693-1.914-0.693-3.058c0-1.159,0.231-2.186,0.693-3.08s1.085-1.595,1.87-2.101c0.784-0.507,1.668-0.76,2.65-0.76
        c0.616,0,1.191,0.104,1.728,0.309c0.535,0.205,1.008,0.483,1.419,0.836c0.41,0.352,0.729,0.74,0.957,1.166s0.341,0.851,0.341,1.275
        l-0.572-0.132v-7.172c0-0.249,0.085-0.462,0.253-0.638C681.83,100.294,682.047,100.206,682.311,100.206z M677.778,115.077
        c0.733,0,1.379-0.187,1.937-0.561c0.557-0.374,0.997-0.888,1.319-1.54c0.323-0.652,0.484-1.39,0.484-2.211
        s-0.161-1.559-0.484-2.211c-0.322-0.652-0.763-1.166-1.319-1.54c-0.558-0.374-1.203-0.562-1.937-0.562
        c-0.719,0-1.36,0.188-1.925,0.562s-1.009,0.888-1.331,1.54s-0.484,1.39-0.484,2.211c0,0.807,0.162,1.536,0.484,2.188
        c0.322,0.653,0.767,1.17,1.331,1.551C676.418,114.887,677.06,115.077,677.778,115.077z" />
      <path d="M685.786,114.682c-0.117-0.19-0.172-0.393-0.165-0.605c0.008-0.212,0.129-0.399,0.363-0.561
        c0.161-0.103,0.341-0.146,0.539-0.132s0.377,0.109,0.539,0.285c0.41,0.484,0.88,0.869,1.408,1.155
        c0.527,0.286,1.173,0.429,1.936,0.429c0.337-0.014,0.686-0.073,1.045-0.176s0.66-0.282,0.902-0.539
        c0.242-0.256,0.363-0.598,0.363-1.022c0-0.411-0.125-0.737-0.374-0.979c-0.25-0.242-0.576-0.439-0.979-0.594
        s-0.832-0.289-1.287-0.407c-0.483-0.132-0.961-0.278-1.43-0.439c-0.47-0.161-0.892-0.37-1.265-0.627
        c-0.374-0.257-0.675-0.58-0.902-0.969c-0.228-0.388-0.341-0.868-0.341-1.44c0-0.66,0.179-1.232,0.539-1.716
        c0.358-0.484,0.839-0.858,1.44-1.122s1.269-0.396,2.002-0.396c0.411,0,0.84,0.048,1.287,0.144s0.884,0.257,1.31,0.483
        c0.425,0.228,0.799,0.539,1.121,0.936c0.133,0.146,0.206,0.33,0.221,0.55s-0.081,0.418-0.286,0.594
        c-0.162,0.118-0.341,0.173-0.539,0.165c-0.198-0.007-0.363-0.077-0.495-0.209c-0.322-0.381-0.715-0.671-1.177-0.869
        c-0.462-0.197-0.972-0.297-1.529-0.297c-0.338,0-0.675,0.056-1.012,0.165c-0.338,0.11-0.62,0.283-0.847,0.518
        c-0.229,0.234-0.342,0.564-0.342,0.989c0.015,0.396,0.146,0.719,0.396,0.969c0.249,0.249,0.586,0.45,1.012,0.604
        s0.895,0.305,1.408,0.451c0.469,0.117,0.92,0.253,1.353,0.407c0.433,0.153,0.825,0.355,1.178,0.604
        c0.352,0.25,0.63,0.568,0.836,0.957c0.205,0.389,0.308,0.877,0.308,1.463c0,0.675-0.19,1.258-0.572,1.749
        c-0.381,0.491-0.884,0.865-1.507,1.122s-1.294,0.385-2.013,0.385c-0.807,0-1.606-0.15-2.398-0.451
        C687.04,115.954,686.358,115.43,685.786,114.682z" />
      <path d="M713.726,110.766c0,1.144-0.253,2.163-0.759,3.058s-1.188,1.599-2.046,2.112s-1.822,0.77-2.893,0.77
        c-1.071,0-2.039-0.256-2.904-0.77s-1.551-1.218-2.057-2.112c-0.507-0.895-0.76-1.914-0.76-3.058c0-1.145,0.253-2.163,0.76-3.058
        c0.506-0.895,1.191-1.599,2.057-2.112s1.833-0.771,2.904-0.771c1.07,0,2.034,0.257,2.893,0.771s1.54,1.218,2.046,2.112
        S713.726,109.621,713.726,110.766z M711.944,110.766c0-0.851-0.173-1.595-0.518-2.233c-0.345-0.638-0.813-1.144-1.408-1.518
        c-0.594-0.374-1.258-0.562-1.99-0.562c-0.748,0-1.419,0.188-2.014,0.562c-0.594,0.374-1.066,0.88-1.419,1.518
        c-0.352,0.639-0.527,1.383-0.527,2.233c0,0.836,0.176,1.576,0.527,2.222c0.353,0.646,0.825,1.155,1.419,1.529
        c0.595,0.374,1.266,0.561,2.014,0.561c0.732,0,1.396-0.187,1.99-0.561c0.595-0.374,1.063-0.884,1.408-1.529
        S711.944,111.602,711.944,110.766z" />
      <path d="M722.021,104.825c0.997,0,1.782,0.206,2.354,0.616c0.572,0.411,0.979,0.961,1.222,1.65
        c0.241,0.689,0.362,1.467,0.362,2.331v6.16c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264
        c-0.264,0-0.477-0.088-0.638-0.264c-0.162-0.177-0.242-0.389-0.242-0.639v-6.115c0-0.558-0.085-1.063-0.253-1.519
        c-0.169-0.454-0.451-0.817-0.847-1.089c-0.396-0.271-0.925-0.407-1.584-0.407c-0.616,0-1.181,0.137-1.694,0.407
        c-0.514,0.271-0.924,0.635-1.232,1.089c-0.308,0.455-0.462,0.961-0.462,1.519v6.115c0,0.25-0.084,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264s-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253c0.265,0,0.477,0.085,0.639,0.253
        c0.161,0.169,0.241,0.386,0.241,0.649v1.54l-0.439,0.483c0.073-0.381,0.242-0.766,0.506-1.154s0.594-0.737,0.99-1.045
        c0.396-0.309,0.836-0.554,1.319-0.737C720.986,104.917,721.492,104.825,722.021,104.825z" />
      <path d="M741.93,101.086c1.085,0,2.035,0.201,2.849,0.604c0.814,0.403,1.492,0.965,2.035,1.684s0.949,1.543,1.222,2.475
        c0.271,0.932,0.406,1.91,0.406,2.937c0,1.423-0.241,2.717-0.726,3.883s-1.207,2.094-2.167,2.783
        c-0.961,0.689-2.167,1.034-3.619,1.034h-5.478c-0.25,0-0.463-0.088-0.639-0.264c-0.176-0.177-0.264-0.389-0.264-0.639v-13.596
        c0-0.249,0.088-0.462,0.264-0.638s0.389-0.264,0.639-0.264H741.93z M741.71,114.77c1.144,0,2.067-0.271,2.771-0.814
        c0.704-0.542,1.222-1.269,1.552-2.178c0.329-0.909,0.494-1.906,0.494-2.992c0-0.792-0.092-1.547-0.274-2.266
        c-0.184-0.719-0.47-1.356-0.858-1.914c-0.389-0.557-0.888-0.997-1.496-1.32c-0.608-0.322-1.338-0.483-2.188-0.483h-4.488
        l0.176-0.198v12.386l-0.132-0.22H741.71z" />
      <path d="M756.472,116.705c-1.188,0-2.222-0.249-3.102-0.748c-0.88-0.498-1.563-1.184-2.046-2.057
        c-0.484-0.872-0.727-1.881-0.727-3.025c0-1.275,0.253-2.364,0.76-3.267c0.506-0.901,1.165-1.591,1.979-2.067
        s1.676-0.716,2.585-0.716c0.675,0,1.327,0.125,1.958,0.374c0.631,0.25,1.188,0.616,1.672,1.101
        c0.484,0.483,0.873,1.056,1.166,1.716s0.447,1.407,0.462,2.244c0,0.234-0.088,0.429-0.264,0.583
        c-0.176,0.153-0.382,0.23-0.616,0.23h-8.689l-0.396-1.518h8.448l-0.353,0.308v-0.483c-0.044-0.602-0.238-1.118-0.583-1.552
        c-0.345-0.432-0.763-0.766-1.254-1.001c-0.491-0.234-1.008-0.352-1.551-0.352c-0.439,0-0.877,0.081-1.309,0.242
        c-0.434,0.161-0.822,0.41-1.166,0.748c-0.345,0.337-0.624,0.777-0.836,1.319c-0.213,0.543-0.319,1.195-0.319,1.958
        c0,0.851,0.172,1.599,0.517,2.244s0.825,1.155,1.441,1.529s1.334,0.561,2.156,0.561c0.513,0,0.96-0.065,1.342-0.198
        c0.381-0.132,0.707-0.297,0.979-0.494c0.271-0.198,0.503-0.399,0.693-0.605c0.19-0.132,0.381-0.198,0.572-0.198
        c0.205,0,0.381,0.074,0.527,0.221s0.221,0.322,0.221,0.527c0,0.25-0.118,0.477-0.353,0.683c-0.426,0.454-0.986,0.851-1.683,1.188
        C758.008,116.536,757.264,116.705,756.472,116.705z" />
      <path d="M763.159,114.682c-0.117-0.19-0.172-0.393-0.165-0.605c0.008-0.212,0.129-0.399,0.363-0.561
        c0.161-0.103,0.341-0.146,0.539-0.132s0.377,0.109,0.539,0.285c0.41,0.484,0.88,0.869,1.408,1.155
        c0.527,0.286,1.173,0.429,1.936,0.429c0.337-0.014,0.686-0.073,1.045-0.176s0.66-0.282,0.902-0.539
        c0.242-0.256,0.363-0.598,0.363-1.022c0-0.411-0.125-0.737-0.374-0.979c-0.25-0.242-0.576-0.439-0.979-0.594
        s-0.832-0.289-1.287-0.407c-0.483-0.132-0.961-0.278-1.43-0.439c-0.47-0.161-0.892-0.37-1.265-0.627
        c-0.374-0.257-0.675-0.58-0.902-0.969c-0.228-0.388-0.341-0.868-0.341-1.44c0-0.66,0.179-1.232,0.539-1.716
        c0.358-0.484,0.839-0.858,1.44-1.122s1.269-0.396,2.002-0.396c0.411,0,0.84,0.048,1.287,0.144s0.884,0.257,1.31,0.483
        c0.425,0.228,0.799,0.539,1.121,0.936c0.133,0.146,0.206,0.33,0.221,0.55s-0.081,0.418-0.286,0.594
        c-0.162,0.118-0.341,0.173-0.539,0.165c-0.198-0.007-0.363-0.077-0.495-0.209c-0.322-0.381-0.715-0.671-1.177-0.869
        c-0.462-0.197-0.972-0.297-1.529-0.297c-0.338,0-0.675,0.056-1.012,0.165c-0.338,0.11-0.62,0.283-0.847,0.518
        c-0.229,0.234-0.342,0.564-0.342,0.989c0.015,0.396,0.146,0.719,0.396,0.969c0.249,0.249,0.586,0.45,1.012,0.604
        s0.895,0.305,1.408,0.451c0.469,0.117,0.92,0.253,1.353,0.407c0.433,0.153,0.825,0.355,1.178,0.604
        c0.352,0.25,0.63,0.568,0.836,0.957c0.205,0.389,0.308,0.877,0.308,1.463c0,0.675-0.19,1.258-0.572,1.749
        c-0.381,0.491-0.884,0.865-1.507,1.122s-1.294,0.385-2.013,0.385c-0.807,0-1.606-0.15-2.398-0.451
        C764.413,115.954,763.731,115.43,763.159,114.682z" />
      <path d="M773.808,105.178h5.17c0.234,0,0.429,0.081,0.583,0.242c0.153,0.161,0.23,0.359,0.23,0.594c0,0.22-0.077,0.407-0.23,0.561
        c-0.154,0.154-0.349,0.231-0.583,0.231h-5.17c-0.221,0-0.415-0.08-0.583-0.242c-0.169-0.161-0.254-0.352-0.254-0.572
        c0-0.234,0.085-0.429,0.254-0.583C773.393,105.255,773.587,105.178,773.808,105.178z M776.117,102.186
        c0.249,0,0.454,0.088,0.616,0.264c0.161,0.177,0.242,0.389,0.242,0.639v10.604c0,0.352,0.051,0.616,0.153,0.792
        s0.238,0.297,0.407,0.363c0.168,0.065,0.333,0.099,0.495,0.099c0.146,0,0.274-0.025,0.385-0.077
        c0.11-0.051,0.238-0.077,0.385-0.077s0.282,0.07,0.407,0.209c0.125,0.14,0.188,0.319,0.188,0.539c0,0.265-0.154,0.488-0.462,0.671
        c-0.309,0.184-0.653,0.275-1.034,0.275c-0.206,0-0.459-0.015-0.759-0.044c-0.301-0.029-0.599-0.124-0.892-0.286
        c-0.293-0.161-0.539-0.429-0.737-0.803c-0.197-0.374-0.297-0.898-0.297-1.573v-10.691c0-0.25,0.088-0.462,0.265-0.639
        C775.655,102.273,775.867,102.186,776.117,102.186z" />
      <path d="M783.025,103.462c-0.367,0-0.638-0.073-0.813-0.221c-0.177-0.146-0.265-0.374-0.265-0.682v-0.308
        c0-0.309,0.096-0.535,0.286-0.683c0.19-0.146,0.462-0.22,0.814-0.22c0.352,0,0.615,0.073,0.792,0.22
        c0.176,0.147,0.264,0.374,0.264,0.683v0.308c0,0.308-0.092,0.535-0.275,0.682C783.645,103.389,783.378,103.462,783.025,103.462z
        M783.928,115.583c0,0.25-0.085,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264c-0.265,0-0.48-0.088-0.649-0.264
        c-0.169-0.177-0.253-0.389-0.253-0.639v-9.745c0-0.25,0.084-0.462,0.253-0.639c0.169-0.176,0.385-0.264,0.649-0.264
        c0.249,0,0.458,0.088,0.627,0.264c0.168,0.177,0.253,0.389,0.253,0.639V115.583z" />
      <path d="M792.749,104.825c0.997,0,1.782,0.206,2.354,0.616c0.572,0.411,0.979,0.961,1.222,1.65
        c0.241,0.689,0.362,1.467,0.362,2.331v6.16c0,0.25-0.084,0.462-0.253,0.639c-0.169,0.176-0.378,0.264-0.627,0.264
        c-0.264,0-0.477-0.088-0.638-0.264c-0.162-0.177-0.242-0.389-0.242-0.639v-6.115c0-0.558-0.085-1.063-0.253-1.519
        c-0.169-0.454-0.451-0.817-0.847-1.089c-0.396-0.271-0.925-0.407-1.584-0.407c-0.616,0-1.181,0.137-1.694,0.407
        c-0.514,0.271-0.924,0.635-1.232,1.089c-0.308,0.455-0.462,0.961-0.462,1.519v6.115c0,0.25-0.084,0.462-0.253,0.639
        c-0.169,0.176-0.378,0.264-0.627,0.264s-0.458-0.088-0.627-0.264c-0.169-0.177-0.253-0.389-0.253-0.639v-9.569
        c0-0.264,0.084-0.48,0.253-0.649c0.169-0.168,0.378-0.253,0.627-0.253c0.265,0,0.477,0.085,0.639,0.253
        c0.161,0.169,0.241,0.386,0.241,0.649v1.54l-0.439,0.483c0.073-0.381,0.242-0.766,0.506-1.154s0.594-0.737,0.99-1.045
        c0.396-0.309,0.836-0.554,1.319-0.737C791.715,104.917,792.221,104.825,792.749,104.825z" />
      <path d="M808.347,104.936c0.25,0,0.459,0.088,0.627,0.264c0.169,0.177,0.254,0.389,0.254,0.639v9.569
        c0,1.246-0.242,2.273-0.727,3.08s-1.133,1.408-1.947,1.804c-0.813,0.396-1.734,0.595-2.761,0.595c-0.572,0-1.122-0.06-1.649-0.177
        c-0.528-0.117-0.961-0.271-1.299-0.462c-0.278-0.132-0.477-0.297-0.594-0.495c-0.117-0.197-0.132-0.406-0.044-0.627
        c0.103-0.264,0.253-0.447,0.451-0.55s0.407-0.103,0.627,0c0.234,0.103,0.575,0.245,1.022,0.429s0.95,0.275,1.508,0.275
        c0.762,0,1.415-0.146,1.958-0.44c0.542-0.293,0.96-0.722,1.254-1.286c0.293-0.565,0.439-1.266,0.439-2.102v-1.54l0.242,0.528
        c-0.22,0.47-0.528,0.873-0.924,1.21c-0.396,0.338-0.854,0.598-1.375,0.781c-0.521,0.183-1.082,0.274-1.683,0.274
        c-0.852,0-1.566-0.18-2.146-0.539c-0.579-0.358-1.016-0.857-1.309-1.496c-0.294-0.638-0.44-1.367-0.44-2.188v-6.644
        c0-0.25,0.084-0.462,0.253-0.639c0.169-0.176,0.378-0.264,0.627-0.264c0.265,0,0.477,0.088,0.639,0.264
        c0.161,0.177,0.241,0.389,0.241,0.639v6.226c0,0.997,0.221,1.749,0.66,2.255c0.44,0.506,1.122,0.759,2.046,0.759
        c0.587,0,1.114-0.132,1.584-0.396c0.47-0.265,0.848-0.627,1.133-1.089c0.286-0.463,0.43-0.972,0.43-1.529v-6.226
        c0-0.25,0.084-0.462,0.253-0.639C807.866,105.023,808.083,104.936,808.347,104.936z" />
      <path d="M827.201,114.835c0.234,0,0.437,0.081,0.605,0.242c0.168,0.162,0.253,0.359,0.253,0.594c0,0.235-0.085,0.43-0.253,0.583
        c-0.169,0.154-0.371,0.231-0.605,0.231h-7.964c-0.264,0-0.48-0.077-0.649-0.231c-0.168-0.153-0.253-0.362-0.253-0.627
        c0-0.234,0.088-0.447,0.265-0.638l4.972-5.434c0.719-0.792,1.265-1.536,1.639-2.233c0.374-0.696,0.562-1.315,0.562-1.858
        c0-0.88-0.268-1.592-0.803-2.134c-0.536-0.543-1.243-0.814-2.123-0.814c-0.396,0-0.792,0.085-1.188,0.253
        c-0.396,0.169-0.756,0.396-1.078,0.682c-0.322,0.286-0.587,0.613-0.792,0.979c-0.117,0.176-0.238,0.294-0.363,0.352
        c-0.124,0.06-0.253,0.088-0.385,0.088c-0.22,0-0.422-0.076-0.604-0.23c-0.184-0.154-0.275-0.341-0.275-0.562
        c0-0.161,0.048-0.311,0.144-0.45c0.095-0.14,0.216-0.297,0.362-0.474c0.309-0.425,0.693-0.81,1.155-1.154s0.968-0.62,1.518-0.825
        c0.551-0.205,1.09-0.309,1.617-0.309c0.938,0,1.757,0.188,2.453,0.562s1.235,0.895,1.617,1.562
        c0.381,0.668,0.572,1.463,0.572,2.388c0,0.777-0.235,1.632-0.704,2.563c-0.47,0.932-1.159,1.889-2.068,2.871l-3.85,4.246
        l-0.221-0.221H827.201z" />
      <path d="M831.447,116.485c-0.309,0-0.543-0.092-0.704-0.275c-0.161-0.183-0.242-0.429-0.242-0.736v-0.44
        c0-0.308,0.081-0.55,0.242-0.726s0.396-0.265,0.704-0.265h0.198c0.308,0,0.542,0.089,0.704,0.265
        c0.161,0.176,0.241,0.418,0.241,0.726v0.44c0,0.308-0.08,0.554-0.241,0.736c-0.162,0.184-0.396,0.275-0.704,0.275H831.447z
        M831.557,111.997c-0.352,0-0.542-0.197-0.571-0.594l-0.374-9.174c-0.015-0.322,0.059-0.594,0.22-0.813
        c0.161-0.221,0.396-0.33,0.704-0.33c0.322,0,0.564,0.109,0.726,0.33c0.161,0.22,0.234,0.491,0.221,0.813l-0.374,9.174
        C832.077,111.8,831.895,111.997,831.557,111.997z" />
    </g>
    <g style="fill:#FFFFFF;" class="translate-x-[2.625rem] md:translate-x-0">
      <path d="M187.086,85.304c-4.229,0-7.693-1.463-10.395-4.389c-2.703-2.926-4.053-6.643-4.053-11.151
        c0-4.536,1.316-8.288,3.948-11.256c2.631-2.968,6.118-4.452,10.458-4.452c3.583,0,6.461,0.945,8.631,2.835
        c2.169,1.89,3.423,4.32,3.759,7.287h-6.048c-0.28-1.54-0.973-2.757-2.079-3.654c-1.106-0.896-2.527-1.344-4.263-1.344
        c-2.661,0-4.69,0.98-6.09,2.94c-1.401,1.96-2.1,4.509-2.1,7.644c0,3.108,0.749,5.643,2.247,7.602c1.498,1.96,3.492,2.94,5.985,2.94
        c1.764,0,3.234-0.483,4.41-1.449c1.176-0.966,1.861-2.247,2.058-3.843h5.964c-0.168,2.829-1.274,5.194-3.318,7.098
        C193.932,84.24,190.894,85.304,187.086,85.304z" />
      <path d="M209.724,84.674v-30.03H223.5c2.884,0,5.215,0.77,6.993,2.31c1.778,1.541,2.667,3.557,2.667,6.048
        c0,3.836-1.834,6.258-5.502,7.266v0.126c1.428,0.42,2.499,1.085,3.213,1.995c0.714,0.91,1.169,2.262,1.365,4.053
        c0.056,0.672,0.119,1.463,0.189,2.373c0.069,0.91,0.126,1.631,0.168,2.163c0.042,0.532,0.098,1.064,0.168,1.596
        c0.069,0.532,0.168,0.945,0.294,1.239s0.287,0.483,0.483,0.567v0.294H227.7c-0.112-0.056-0.21-0.161-0.294-0.315
        c-0.084-0.154-0.154-0.371-0.21-0.651c-0.057-0.28-0.105-0.567-0.147-0.861s-0.084-0.672-0.126-1.134s-0.077-0.868-0.105-1.218
        c-0.028-0.35-0.063-0.812-0.105-1.386c-0.042-0.574-0.077-1.029-0.105-1.365c-0.252-3.416-2.212-5.124-5.88-5.124h-4.914v12.054
        H209.724z M215.813,59.558v8.358h6.468c1.596,0,2.82-0.378,3.675-1.134c0.854-0.756,1.281-1.75,1.281-2.982
        c0-1.26-0.406-2.282-1.218-3.066c-0.813-0.784-2.002-1.176-3.57-1.176H215.813z" />
      <path d="M244.163,84.674v-30.03h6.09v30.03H244.163z" />
      <path d="M261.97,84.674v-30.03h8.568l4.242,15.078c0.308,1.121,0.623,2.359,0.945,3.717c0.322,1.358,0.567,2.429,0.735,3.213
        l0.21,1.176h0.084c0.531-2.883,1.147-5.586,1.848-8.106l4.242-15.078h8.694v30.03h-5.67v-17.22l0.252-6.216h-0.084
        c-0.448,2.352-0.882,4.256-1.302,5.712l-5.166,17.724h-5.838l-5.04-17.724l-1.302-5.712h-0.084c0.168,2.52,0.252,4.592,0.252,6.216
        v17.22H261.97z" />
      <path d="M314.848,85.346c-4.06,0-7.21-0.861-9.45-2.583c-2.241-1.722-3.417-4.179-3.528-7.371h5.964
        c0.195,1.792,0.833,3.081,1.911,3.864c1.078,0.784,2.695,1.176,4.851,1.176c1.708,0,3.108-0.315,4.2-0.945
        c1.092-0.63,1.638-1.603,1.638-2.919c0-0.476-0.063-0.903-0.189-1.281c-0.126-0.378-0.385-0.714-0.777-1.008
        c-0.393-0.294-0.729-0.532-1.008-0.714c-0.28-0.182-0.798-0.378-1.554-0.588c-0.756-0.21-1.33-0.364-1.722-0.462
        c-0.392-0.098-1.12-0.273-2.184-0.525c-1.289-0.308-2.346-0.573-3.171-0.798c-0.826-0.224-1.736-0.574-2.73-1.05
        c-0.994-0.476-1.778-1-2.352-1.575c-0.574-0.574-1.057-1.33-1.449-2.268c-0.393-0.938-0.588-2.009-0.588-3.213
        c0-2.884,1.057-5.103,3.171-6.657c2.114-1.554,4.893-2.331,8.337-2.331c3.416,0,6.146,0.813,8.19,2.436
        c2.043,1.625,3.178,3.935,3.402,6.93h-5.838c-0.168-1.456-0.777-2.576-1.827-3.36c-1.05-0.784-2.373-1.176-3.969-1.176
        c-1.652,0-2.968,0.322-3.948,0.966c-0.98,0.644-1.47,1.498-1.47,2.562c0,1.148,0.483,1.988,1.449,2.52
        c0.966,0.532,2.667,1.064,5.103,1.596c1.456,0.309,2.646,0.595,3.57,0.861c0.924,0.267,1.925,0.645,3.003,1.134
        c1.078,0.49,1.917,1.029,2.52,1.617c0.602,0.588,1.106,1.365,1.512,2.331c0.405,0.966,0.609,2.079,0.609,3.339
        c0,2.968-1.078,5.292-3.234,6.972C321.134,84.506,318.32,85.346,314.848,85.346z" />
      <path
        d="M360.922,80.957c-2.632,2.926-6.132,4.389-10.5,4.389s-7.875-1.463-10.521-4.389s-3.969-6.671-3.969-11.235
        c0-4.563,1.323-8.316,3.969-11.256s6.153-4.41,10.521-4.41s7.868,1.47,10.5,4.41c2.631,2.94,3.948,6.692,3.948,11.256
        C364.87,74.286,363.553,78.031,360.922,80.957z M344.311,77.366c1.441,1.989,3.492,2.982,6.153,2.982
        c2.66,0,4.689-0.987,6.09-2.961c1.4-1.974,2.1-4.529,2.1-7.665c0-3.135-0.7-5.697-2.1-7.686c-1.4-1.988-3.43-2.982-6.09-2.982
        c-2.661,0-4.711,0.994-6.153,2.982c-1.443,1.989-2.163,4.551-2.163,7.686C342.148,72.83,342.868,75.378,344.311,77.366z" />
      <path d="M375.244,84.674v-30.03h6.174l9.996,16.758c0.28,0.477,0.595,1.064,0.945,1.764c0.35,0.7,0.623,1.288,0.819,1.764
        l0.336,0.672h0.084c-0.112-2.072-0.168-3.808-0.168-5.208v-15.75h6.006v30.03h-5.88l-10.248-16.59
        c-0.28-0.476-0.603-1.057-0.966-1.743c-0.364-0.686-0.645-1.267-0.84-1.743l-0.336-0.672h-0.084c0.112,2.1,0.168,3.85,0.168,5.25
        v15.498H375.244z" />
      <g style="fill:#969696;">
        <path d="M410.313,84.674v-6.09h6.132v6.09H410.313z" />
        <path
          d="M427.323,84.674v-30.03h13.776c2.883,0,5.215,0.77,6.992,2.31c1.777,1.541,2.668,3.557,2.668,6.048
          c0,3.836-1.834,6.258-5.502,7.266v0.126c1.428,0.42,2.498,1.085,3.213,1.995c0.713,0.91,1.168,2.262,1.365,4.053
          c0.055,0.672,0.117,1.463,0.188,2.373c0.07,0.91,0.127,1.631,0.168,2.163c0.043,0.532,0.098,1.064,0.168,1.596
          c0.07,0.532,0.168,0.945,0.295,1.239c0.125,0.294,0.287,0.483,0.482,0.567v0.294h-5.838c-0.111-0.056-0.209-0.161-0.293-0.315
          c-0.084-0.154-0.154-0.371-0.211-0.651c-0.057-0.28-0.105-0.567-0.146-0.861c-0.043-0.294-0.084-0.672-0.127-1.134
          c-0.041-0.462-0.076-0.868-0.104-1.218c-0.029-0.35-0.064-0.812-0.105-1.386c-0.043-0.574-0.078-1.029-0.105-1.365
          c-0.252-3.416-2.212-5.124-5.88-5.124h-4.914v12.054H427.323z M433.413,59.558v8.358h6.468c1.595,0,2.819-0.378,3.675-1.134
          c0.854-0.756,1.281-1.75,1.281-2.982c0-1.26-0.406-2.282-1.219-3.066c-0.813-0.784-2.002-1.176-3.569-1.176H433.413z" />
        <path d="M461.72,84.674v-30.03h22.093v5.124h-16.002v6.72h14.027v4.998h-14.027v8.106h16.128v5.082H461.72z" />
        <path d="M494.772,84.674v-30.03h13.188c3.416,0,6.033,0.938,7.854,2.814c1.792,1.848,2.688,4.13,2.688,6.846
          c0,2.856-0.896,5.152-2.688,6.888c-1.792,1.736-4.241,2.604-7.35,2.604h-7.392v10.878H494.772z M501.073,59.936v8.904h6.3
          c1.567,0,2.771-0.399,3.612-1.197c0.84-0.798,1.26-1.897,1.26-3.297c0-1.399-0.42-2.484-1.26-3.255
          c-0.841-0.77-2.017-1.155-3.528-1.155H501.073z" />
        <path
          d="M552.271,80.957c-2.632,2.926-6.132,4.389-10.5,4.389s-7.875-1.463-10.521-4.389c-2.646-2.926-3.969-6.671-3.969-11.235
          c0-4.563,1.323-8.316,3.969-11.256c2.646-2.94,6.153-4.41,10.521-4.41s7.868,1.47,10.5,4.41s3.948,6.692,3.948,11.256
          C556.219,74.286,554.902,78.031,552.271,80.957z M535.659,77.366c1.442,1.989,3.493,2.982,6.153,2.982s4.689-0.987,6.09-2.961
          c1.399-1.974,2.101-4.529,2.101-7.665c0-3.135-0.701-5.697-2.101-7.686c-1.4-1.988-3.43-2.982-6.09-2.982
          s-4.711,0.994-6.153,2.982c-1.442,1.989-2.163,4.551-2.163,7.686C533.496,72.83,534.217,75.378,535.659,77.366z" />
        <path d="M566.593,84.674v-30.03h13.776c2.884,0,5.215,0.77,6.993,2.31c1.777,1.541,2.667,3.557,2.667,6.048
          c0,3.836-1.834,6.258-5.502,7.266v0.126c1.428,0.42,2.499,1.085,3.213,1.995c0.714,0.91,1.169,2.262,1.365,4.053
          c0.056,0.672,0.118,1.463,0.188,2.373c0.069,0.91,0.126,1.631,0.168,2.163c0.042,0.532,0.098,1.064,0.168,1.596
          c0.07,0.532,0.168,0.945,0.294,1.239s0.287,0.483,0.483,0.567v0.294h-5.838c-0.112-0.056-0.21-0.161-0.294-0.315
          c-0.084-0.154-0.154-0.371-0.21-0.651c-0.057-0.28-0.105-0.567-0.147-0.861s-0.084-0.672-0.126-1.134s-0.077-0.868-0.104-1.218
          c-0.028-0.35-0.063-0.812-0.105-1.386c-0.042-0.574-0.077-1.029-0.104-1.365c-0.252-3.416-2.213-5.124-5.88-5.124h-4.914v12.054
          H566.593z M572.684,59.558v8.358h6.468c1.596,0,2.82-0.378,3.675-1.134c0.854-0.756,1.281-1.75,1.281-2.982
          c0-1.26-0.406-2.282-1.218-3.066c-0.813-0.784-2.003-1.176-3.57-1.176H572.684z" />
        <path d="M599.437,59.768v-5.124h24.15v5.124h-9.03v24.906h-6.09V59.768H599.437z" />
      </g>
    </g>
  </svg>
</template>

