@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400..600&display=swap');
@import url('https://fonts.cdnfonts.com/css/nimbus-sans-l');

@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  width: 100lvw;
  height: 100lvh;
  position: fixed;
  z-index: -1;
  transform: scale(1.0);
  background-color: rgb(65, 26, 26);
  background-image: url('./assets/background.svg'), linear-gradient(0deg, rgba(65, 26, 26, 1) 0%, rgba(65, 32, 32, 1) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.splide {
  visibility: visible !important;
}

.splide:not(.is-overflow) .splide__arrows {
  display: none;
}

a[href]:not(.no-underline) {
  text-decoration: revert;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}

[data-tippy-root] {
  max-width: calc(100vw - 10px)
}

.tippy-box {
  transition-property: transform, visibility, opacity
}

.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
  top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
  right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
  left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: theme('colors.zinc.200');
  z-index: 1;
}

.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid
}

.tippy-content {
  position: relative;
  z-index: 1
}

.markdown p {
  @apply mt-2;
}

.markdown h2 {
  @apply text-base mt-2 border-b border-zinc-300/50;
}

.markdown ul {
  @apply text-left list-disc ml-6 text-xs;
}

.markdown blockquote {
  @apply text-zinc-800 font-medium pt-0.5 pb-2.5 px-2.5 mt-2 bg-zinc-900/10;
}

.markdown blockquote:has(em) {
  @apply bg-yellow-400/25;
}

.dialog-md p {
  @apply mt-3;
}

.dialog-md ul {
  @apply ml-3 text-lg;
}

.fun * {
  cursor: url('./assets/spo16.ani'),
          url('./assets/spo16.png'),
          auto !important;
}
